wheel==0.37.1
captcha==0.3
Pillow==9.0.0
deepdiff==5.7.0
python-magic==0.4.24
Flask-SocketIO==5.1.1
opencv-python==4.5.5.62
DateTime==4.3
Flask==2.0.2
Flask-MySQLdb==0.2.0
pathlib==1.0.1
captcha==0.3
Pillow==9.0.0
deepdiff==5.7.0
python-magic==0.4.24
