#authorContainer {
    margin: auto;
    width: 50%;
    text-align:center;
}
.authorLabel {
    font-weight: bold;
    text-align: left;
    width: 100px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #32393f;
}


#toggleAuthorBox {
    margin: auto;
    width: 50%;
    text-align:center;
}
#banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#boardInfo {
    margin-top: 5%;
}
#boardInfo h1, h4 {
    font-weight: normal;
}
