#author-container {
    margin: auto;
    width: auto;
    text-align:center;
}
#author-container table {
    margin: auto;
}
.author-label {
    font-weight: normal;
    text-align: left;
    width: 100px;
    padding: 0 5px;
    background-color: #32393f;
    border: 1px solid #464f57;
}
.author-input {
    float: left;
    border: 1px solid #464f57;
    width: 244px;
}
#post-button {
    float: left;
    margin: 0 5px;
    background: #32393f;
    color: #ACACAC;
    border: 1px solid #2f373d;
}
#post-button:hover {
    background: #2a3137;
}
#toggle-author-box {
    margin: auto;
    width: 50%;
    text-align:center;
}
#banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#board-info {
    margin-top: 5%;
    font-size: 80%;
}
#board-name {
    text-shadow: 1px 1px 1px rgb(167 170 168 / 60%);
}
#board-info h1, h4 {
    font-weight: normal;
}
button {
    background: #1e2327;
    color: #ACACAC;
    border: 1px solid #2f373d;
    padding: 3px 5px;

}
button:hover {
    background: #2a3137;
}
.captcha {
    margin-bottom: 2px;
}
#file-input {
    margin-right: 10px;
    width: 200px;
    float: left;
    font-size: 90%;
}
li {
    list-style-type: disc;
}
#rules ul{
    margin: 0px;
    float: left;
    padding: 0 15px;
}
#spoiler {
    font-size: 80%;
}
#board-message {
    font-size: 80%;
    margin: 1em;
    text-align: center;
}
#board-message span {
    white-space: pre-line;
}
#boardNavigation {
    font-size: 80%;
    margin: 1em;
}
#thread-list {
    margin: 1em;
}