@import url("./themes.css");
body {
    color: var(--text-color);
    background-color: var(--page-background);
    font-family: var(--font-family);
    font-size: 100%;
    margin: 0px;
}
/*Nav bar at the top*/
nav {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 1;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: var(--nav-color);
    font-size: 80%;
}
nav span{
    /*display: inline-block;*/
    text-decoration: none;
    margin: 0 0.2em;
    float: left;
}
nav a{
    margin-left: 5px;
    margin-right: 5px;
}
footer {
    width: 100%;
    margin: 3em 0px 2em 0px;
    text-align: center;
    font-size: x-small!important;
}
/*Links*/
a{
    color: var(--link-color);
    text-decoration: none;
}
  
a:hover{
    color: var(--link-hover);
}
/*Text decorations*/
u{
    text-decoration: underline;
}
s{
    text-decoration: line-through;
}
/*List*/
li{
    list-style: none;
}
hr {
    height: 0px;
    border-width: 1px medium medium;
    border-style: solid none none;
    border-color: var(--hr);
}
/*Button*/
.btn:hover {
    background-color: var(--button-hover);
}
/*small text*/
.small {
    font-size: 70%;
    color: var(--small-text);
    user-select: none;
}
/*Error Messages*/
.error-text {
    text-align: center;
    margin-top: 20%;
}
/*hide things*/
.hide {
    display: none!important;
}
/*Inputs and text boxes*/
input, select, textarea {
    border: 0px solid;
    background: var(--input);
    color: var(--text-color);
    font-size: 100%;
    max-width: 100%;
}
/*Fontawesome icons next to text*/
.text-icon {
    margin-right: 5px;
}

.msg {
    color: #767676;
}
/*Boxes containing content*/
.box {
    background-color: var(--background-2);
    border-radius: 5px;
    border: none;
    margin-bottom: 16px;
    vertical-align: middle;
    width: 500px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: var(--border-color);
    /* text-align: center; */
    margin: auto;
}
.box form {
    margin: 5px;
    padding-bottom: 10px;
}
.alligned {
    margin-top: 10%;
    width: 50%;
    padding-bottom: 5px;
}
/*Box label*/
.box-header {
    background-color: var(--nav-color);
    border: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 0px;
    text-align: center;
}
.center {
    text-align: center;
}
/*Settings box*/
#settings-div {
    margin-top: 10%;
    width: 50%;
    display: table;
}
/*Category in settings*/
.settings-category {
    text-align: left;
    margin: 5px;
    margin-left: 10px;
}
.settings-category input{
    border: 1px var(--settings-input) solid;
}
.settings-category label {
    display: block;
    margin: 5px;
}
.settings-input {
    border: 1px var(--settings-input) solid;
}

.boardManagement-label {
    float: right;
    margin-right: 15px;
    width: 6%;
    text-align: center;
    display: inherit;
}


/*boards*/
#board-label {
    text-align: left;
    margin: 5px;
    margin-left: 10px;
}
.board-entry {
    text-align: left;
    margin: 5px;
    margin-left: 10px;
}
#boardManagement {
    padding-bottom: 5px;
    clear: left;
}
#create-board {
    display: grid;
}
#create-board label{
    margin-bottom: 10px;
}
#create-board .btn {
    width: 40%;
    margin: auto;
} 
/*stuff for the drag and drop file upload. Not mine.*/
#drop-area {
    border: 1px dashed var(--text-color);
    width: 40%;
    height: 5%;
    margin: auto;
}
#drop-area.highlight {
    border-color: var(--link-color);
}
#drop-area.highlight label{
    color: var(--link-color);
}
p {
    margin-top: 0;
}
.my-form {
    margin-bottom: 10px;
}
#gallery {
    margin-top: 10px;
}
#gallery img {
    width: 150px;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: middle;
}
.button {
    display: inline-block;
    padding-bottom: 20px;
    cursor: pointer;
    width: 100%;
}
.button:hover {
    background: var(--button-hover);
}
#fileElem {
    display: none;
}

/*banner stuff*/
.banner-list {
    margin: auto;
    margin-top: 5px;
}
.banner-options{
    margin: auto;
}
.bannerEntry {
    display: flex;
    margin: 10px;
}
.captcha {
    float: left;
}

/*posts*/
.op {
    font-size: 80%;
    clear: left;
}
.postInfo {
    font-weight: bold;
}
.subject {
    color: var(--subject);
}
.name {
    color: var(--link-color);
}
.postNumber {
    color: var(--text-color);
    text-decoration: none;
}
.comment {
    margin: 1em 1em 1em 3em;
    margin-bottom: 0.5em;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.thumbnail {
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 3px;
    margin-bottom: 5px;
}
.filename {
    display: inline-block;
    vertical-align: top;
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: underline;
}
.filename:hover {
    max-width: 100%;
}
.fileDiv {
    float: none
}
.multiple-files {
    float: left;
    width: 100%;
}
.multiple-files .fileDiv {
    float: left;
}
.uploads {
    margin: 0.25em 1em 0.25em 0.5em;
}
.replyDiv {
    margin: 0.25em 0;
}
.innerPost {
    font-size: 80%;
    padding: 5px;
    background: var(--background-2);
    box-shadow: 3px 5px 10px rgb(0 0 0 / 33%);
    border-radius: 5px;
    border: none;
    display: inline-block;
    overflow: hidden;
    padding-right: 0.5em;
    padding-left: 0.25em;
    padding-top: 0.25em;
    max-width: 100%;
}
#postList {
    margin: 1em;
}
#help-box {
    margin-top: 5%;
    width: 80%;
}
#help-box .content {
    padding: 1em;
}
.dropdown-button {
    font-size: 150%;
    color: var(--link-color);
    padding: 4px;
} 
.post-dropdown {
    position: relative;
    display: inline-block;
} 
.dropdown-content {
    display: none;
    position: static;
    background-color: var(--nav-color);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 3px;
    font-size: 80%;
} 
.show-dropdown {
    display: block!important;
}
