body {
    color: #ACACAC;
    background-color: #1e2327;
    font-family: arial,helvetica,sans-serif;
    font-size: 100%;
    margin: 0px;
}
/*Nav bar at the top*/
nav {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 1;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #131618e0;
    font-size: 80%;
}
nav span{
    /*display: inline-block;*/
    text-decoration: none;
    margin: 0 0.2em;
    float: left;
}
nav a{
    margin-left: 5px;
    margin-right: 5px;
}
footer {
    width: 100%;
    margin: 3em 0px 2em 0px;
    text-align: center;
    font-size: x-small!important;
}
/*Links*/
a{
    color: #81be84;
    text-decoration: none;
}
  
a:hover{
    color: #5b8c5d;
}
/*Text decorations*/
u{
    text-decoration: underline;
}
s{
    text-decoration: line-through;
}
/*List*/
li{
    list-style: none;
}
hr {
    height: 0px;
    border-width: 1px medium medium;
    border-style: solid none none;
    border-color: #2f3840;
}
/*Button*/
.btn:hover {
    background-color: #454e56
}
/*small text*/
.small {
    font-size: 70%;
    color: #767676;
    user-select: none;
}
/*Error Messages*/
.errorText {
    text-align: center;
    margin-top: 20%;
}
/*Inputs and text boxes*/
input, select, textarea {
    border: 0px solid;
    background: #32393f;
    color: #ACACAC;
    font-size: 100%;
    max-width: 100%;
}
/*Fontawesome icons next to text*/
.textIcon {
    margin-right: 5px;
}

.msg {
    color: #767676;
}
/*Boxes containing content*/
.box {
    background-color: #2a3137;
    border-radius: 5px;
    border: none;
    margin-bottom: 16px;
    vertical-align: middle;
    width: 500px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #353535;
    /* text-align: center; */
    margin: auto;
}
.box form {
    margin: 5px;
    padding-bottom: 10px;
}
.alligned {
    margin-top: 10%;
    width: 50%;
    padding-bottom: 5px;
}
/*Box label*/
.boxHeader {
    background-color: #131618e0;
    border: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 0px;
    text-align: center;
}
.center {
    text-align: center;
}
/*Settings box*/
#settingsDiv {
    margin-top: 10%;
    width: 50%;
    display: table;
}
/*Category in settings*/
.settingsCategory {
    text-align: left;
    margin: 5px;
    margin-left: 10px;
}
.settingsCategory input{
    border: 1px #35414b99 solid;
}
.settingsCategory label {
    display: block;
    margin: 5px;
}
.settingsInput {
    border: 1px #35414b99 solid;
}

.boardManagementLabel {
    float: right;
    margin-right: 15px;
    width: 6%;
    text-align: center;
    display: inherit;
}


/*boards*/
#boardLabel {
    text-align: left;
    margin: 5px;
    margin-left: 10px;
}
.boardEntry {
    text-align: left;
    margin: 5px;
    margin-left: 10px;
}
#boardManagement {
    padding-bottom: 5px;
    clear: left;
}
#createBoard {
    display: grid;
}
#createBoard label{
    margin-bottom: 10px;
}
#createBoard .btn {
    width: 40%;
    margin: auto;
} 
/*stuff for the drag and drop file upload. Not mine.*/
#drop-area {
    border: 1px dashed #ACACAC;
    width: 40%;
    height: 5%;
    margin: auto;
}
#drop-area.highlight {
    border-color: #81be84;
}
#drop-area.highlight label{
    color: #81be84;
}
p {
    margin-top: 0;
}
.my-form {
    margin-bottom: 10px;
}
#gallery {
    margin-top: 10px;
}
#gallery img {
    width: 150px;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: middle;
}
.button {
    display: inline-block;
    padding-bottom: 20px;
    cursor: pointer;
    width: 100%;
}
.button:hover {
    background: #32393f;
}
#fileElem {
    display: none;
}

/*banner stuff*/
.bannerList {
    margin: auto;
    margin-top: 5px;
}
.bannerOptions{
    margin: auto;
}
.bannerEntry {
    display: flex;
    margin: 10px;
}
.captcha {
    float: left;
}

/*posts*/
.op {
    font-size: 80%;
    clear: left;
}
.postInfo {
    font-weight: bold;
}
.subject {
    color: #b294bb;
}
.name {
    color: #81be84;
}
.postNumber {
    color: #ACACAC;
    text-decoration: none;
}
.comment {
    margin: 1em 1em 1em 3em;
    margin-bottom: 0.5em;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.thumbnail {
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 3px;
    margin-bottom: 5px;
}
.filename {
    display: inline-block;
    vertical-align: top;
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: underline;
}
.filename:hover {
    max-width: 100%;
}
.fileDiv {
    float: none
}
.multipleFiles {
    float: left;
    width: 100%;
}
.multipleFiles .fileDiv {
    float: left;
}
.uploads {
    margin: 0.25em 1em 0.25em 0.5em;
}
.replyDiv {
    margin: 0.25em 0;
}
.innerPost {
    font-size: 80%;
    padding: 5px;
    background: #2a3137;
    box-shadow: 3px 5px 10px rgb(0 0 0 / 33%);
    border-radius: 5px;
    border: none;
    display: inline-block;
    overflow: hidden;
    padding-right: 0.5em;
    padding-left: 0.25em;
    padding-top: 0.25em;
    max-width: 100%;
}
#postList {
    margin: 1em;
}
#helpBox {
    margin-top: 5%;
    width: 80%;
}
#helpBox .content {
    padding: 1em;
}