
.root {
    color: #6e6cff;
    text-shadow: #6e6cff 0px 0px 8px;
}
.root:after {
	content: ' α';
    color: #bf00ff;
    text-shadow: none;
}
.administrator {
    color: #d46cff;
    text-shadow: #d46cff 0px 0px 8px;
}
.administrator:after {
	content: ' β';
    color: #6200ff;
    text-shadow: none;
}
.moderator {
	color: rgb(54, 158, 255);
}
.janitor {
	color: rgb(148, 54, 255);
}



