/*Defualt theme*/
:root {
    --text-color: #ACACAC; /*Text color*/
    --page-background: #1e2327; /*Background color for the entire page*/
    --background-2: #2a3137; /*Background color for posts, boxes, etc*/
    --nav-color: #131618e0; /*background color of nav bar*/
    --border-color: #353535; /*color for things such as button borders */
    --border-2: #464f57; /*Alternative border color for things such as thread/reply boxes*/
    --border-radius: 5px; /*Border radius for things like boxes, posts, etc.*/
    --font-family: arial,helvetica,sans-serif; /*Default font*/
    --link-color: #81be84; /*Links*/
    --link-hover: #5b8c5d; /*Link hover color*/
    --input: #32393f; /*Background for input fields*/
    --hr: #2f3840; /*divider tags*/
    --small-text: #767676; /*color of small text*/
    --button-background: #2f373d ;
    --button-hover: #454e56; /*Hover color of buttons*/
    --button-border: #2f373d; /*border for buttons*/
    --post-subject: #b294bb; /*Color of the post subject text*/
    --post-name: #81be84; /*Color of the name attatched to a post*/
    --post-shadow: 3px 5px 10px rgb(0 0 0 / 33%); /*Shadow behind objects like posts*/
    --marked-post: #1d2226; /*Background of marked post*/
    --marked-post-border: 1px #2a313742 solid; /*Border of marked post*/
}


/*
##########################
#                        # 
#  Add custom CSS below  #
#                        # 
##########################  
*/



/*
#########
#Yotsuba#
#########
*/

.theme-yotsuba {
    --text-color: #800000; /*Text color*/
    --page-background: #ffe url(../images/fade.png) top center repeat-x; /*Background color for the entire page*/
    --background-2: #f0e0d6; /*Background color for posts, boxes, etc*/
    --nav-color: rgba(240,224,214,0.98); /*background color of nav bar*/
    --border-color: #d9bfb7; /*color for things such as button borders */
    --border-radius: 0px; /*Border radius for things like boxes, posts, etc.*/
    --font-family: arial,helvetica,sans-serif; /*Default font*/
    --link-color: #0000EE; /*Links*/
    --link-hover: #d00; /*Link hover color*/
    --input: #ffffff; /*Background for input fields*/
    --hr: #d9bfb7; /*divider tags*/
    --small-text: #767676; /*color of small text*/
    --button-background: #d0d0d0;
    --button-hover: #dcdcdc; /*Hover color of buttons*/
    --button-border: #666666; /*border for buttons*/
    --post-subject: #cc1105; /*Color of the post subject text*/
    --post-name: #117743; /*Color of the name attatched to a post*/
    --post-shadow: none; /*Shadow behind objects like posts*/
    --header-color: #fca;
    --marked-post: #f0c0b0; /*Background of marked post*/
    --marked-post-border: 1px solid #d99f91; /*Border of marked post*/
}
body.theme-yotsuba {
    -webkit-animation: none;
    background-size: auto;
    background: var(--page-background);
}
.theme-yotsuba nav {
    font-size: 70%;
    border-bottom: 1px solid #b0790a00;
    box-shadow: -5px 1px 10px rgb(0 0 0 / 20%);
}
.theme-yotsuba .box {
    background-color: white;
    border: 1px solid;
}
.theme-yotsuba .box-header {
    background-color: var(--header-color);
}
.theme-yotsuba .innerPost {
    border: 1px solid var(--border-color);
    border-left: none;
    border-top: none;
}
.theme-yotsuba .author-label {
    background-color: #ea8;
    border: 1px solid;
}
.theme-yotsuba input, .theme-yotsuba textarea, .theme-yotsuba select, .theme-yotsuba .settings-category input {
    color: #7d7d7d;
    border: 1px solid #aaa;
}
.theme-yotsuba .btn {
    background: linear-gradient(to bottom, #F8F8F8, #DCDCDC) no-repeat!important;
    border: 1px solid #BBB!important;
    border-radius: 2px;
    color: black!important;
}
.theme-yotsuba .btn:active {
    background: linear-gradient(to bottom, #dcdcdc, #b8b8b8) no-repeat!important;   
}
.theme-yotsuba .btn:hover {
    background: linear-gradient(to bottom, #eaeaea, #c1c1c1) no-repeat!important; 
}
.theme-yotsuba .dropdown-content {
    border: 1px solid
}
.theme-yotsuba .marked-post {
    border: var(--marked-post-border);
}
/*Stuff for the login/register page*/
.theme-yotsuba .login, .theme-yotsuba .register{
    background-color: white;
    border: 1px solid;
}
.theme-yotsuba .login h1, .theme-yotsuba .register h1 {
    background-color: var(--header-color);
    margin-top: 0;
}
.theme-yotsuba .login form label, .theme-yotsuba .register form label {
    background-color: #ea8;
}
.theme-yotsuba .login form input, .theme-yotsuba .register form input {
    color: #7d7d7d;
    border: 1px solid #aaa;
}
.theme-yotsuba .login form input[type="submit"], .theme-yotsuba .register form input[type="submit"] {
    background-color: var(--button-border);
}
.theme-yotsuba .login form input[type="submit"]:hover, .theme-yotsuba .register form input[type="submit"]:hover {
    background-color: #828282;
    transition: background-color 0.2s;
}
.theme-yotsuba #board-list-header {
    background-color: var(--header-color);
}
.theme-yotsuba #boardsDiv .board-entry:nth-child(odd) {
    background-color: white;
}
.theme-yotsuba .dropdown-submit {
    border: none;
}

/*
###########
#Yotsuba B#
###########
*/

.theme-yotsuba-b {
    --text-color: black; /*Text color*/
    --page-background: #eef2ff url(../images/fade-blue.png) top center repeat-x; /*Background color for the entire page*/
    --background-2: #d6daf0; /*Background color for posts, boxes, etc*/
    --nav-color: rgba(214,218,240,0.98); /*background color of nav bar*/
    --border-color: #b7c5d9; /*color for things such as button borders */
    --border-radius: 0px; /*Border radius for things like boxes, posts, etc.*/
    --font-family: arial,helvetica,sans-serif; /*Default font*/
    --link-color: #34345c; /*Links*/
    --link-hover: #d00; /*Link hover color*/
    --input: #ffffff; /*Background for input fields*/
    --hr: #D6DAF0; /*divider tags*/
    --small-text: #767676; /*color of small text*/
    --button-background: #d0d0d0;
    --button-hover: #dcdcdc; /*Hover color of buttons*/
    --button-border: #666666; /*border for buttons*/
    --post-subject: #0f0c5d; /*Color of the post subject text*/
    --post-name: #117743; /*Color of the name attatched to a post*/
    --post-shadow: none; /*Shadow behind objects like posts*/
    --header-color: #98e;
    --marked-post: #d6bad0; /*Background of marked post*/
    --marked-post-border: 1px solid #ba9dbf; /*Border of marked post*/
}
body.theme-yotsuba-b {
    -webkit-animation: none;
    background-size: auto;
    background: var(--page-background);
}
.theme-yotsuba-b nav {
    font-size: 70%;
    border-bottom: 1px solid #D6DAF0;
    box-shadow: -5px 1px 10px rgb(0 0 0 / 20%);
}
.theme-yotsuba-b .box {
    background-color: white;
    border: 1px solid;
}
.theme-yotsuba-b .box-header {
    background-color: var(--header-color);
}
.theme-yotsuba-b .innerPost {
    border: 1px solid var(--border-color);
    border-left: none;
    border-top: none;
}
.theme-yotsuba-b .author-label {
    background-color: #98e;
    border: 1px solid;
}
.theme-yotsuba-b input, .theme-yotsuba-b textarea, .theme-yotsuba-b select, .theme-yotsuba-b .settings-category input {
    color: #7d7d7d;
    border: 1px solid #aaa;
}
.theme-yotsuba-b .marked-post {
    border: var(--marked-post-border);
}
.theme-yotsuba-b .btn {
    background: linear-gradient(to bottom, #F8F8F8, #DCDCDC) no-repeat!important;
    border: 1px solid #BBB!important;
    border-radius: 2px;
    color: black!important;
}
.theme-yotsuba-b .btn:active {
    background: linear-gradient(to bottom, #dcdcdc, #b8b8b8) no-repeat!important;   
}
.theme-yotsuba-b .btn:hover {
    background: linear-gradient(to bottom, #eaeaea, #c1c1c1) no-repeat!important; 
}
.theme-yotsuba-b .dropdown-content {
    border: 1px solid
}
.theme-yotsuba-b #board-info h1, .theme-yotsuba-b #board-info h4 {
    font-weight: normal;
    text-shadow: 1px 1px 1px rgb(105 10 15 / 60%);
    color: #af0a0f;
}
/*Stuff for the login/register page*/
.theme-yotsuba-b .login, .theme-yotsuba-b .register{
    background-color: white;
    border: 1px solid;
}
.theme-yotsuba-b .login h1, .theme-yotsuba-b .register h1 {
    background-color: var(--header-color);
    margin-top: 0;
}
.theme-yotsuba-b .login form label, .theme-yotsuba-b .register form label {
    background-color: var(--header-color);
}
.theme-yotsuba-b .login form input, .theme-yotsuba-b .register form input {
    color: #7d7d7d;
    border: 1px solid #aaa;
}
.theme-yotsuba-b .login form input[type="submit"], .theme-yotsuba-b .register form input[type="submit"] {
    background-color: var(--button-border);
}
.theme-yotsuba-b .login form input[type="submit"]:hover, .theme-yotsuba-b .register form input[type="submit"]:hover {
    background-color: #828282;
    transition: background-color 0.2s;
}
.theme-yotsuba-b #board-list-header {
    background-color: var(--header-color);
}
.theme-yotsuba-b #boardsDiv .board-entry:nth-child(odd) {
    background-color: white;
}
.theme-yotsuba-b .dropdown-submit {
    border: none;
}

/*
##########
#Tomorrow#
##########
*/

.theme-tomorrow {
    --text-color: #c5c8c6; /*Text color*/
    --page-background: #1d1f21; /*Background color for the entire page*/
    --background-2: #282a2e; /*Background color for posts, boxes, etc*/
    --nav-color: rgb(40, 42, 46); /*background color of nav bar*/
    --border-color: #282a2e; /*color for things such as button borders */
    --border-radius: 0px; /*Border radius for things like boxes, posts, etc.*/
    --font-family: arial,helvetica,sans-serif; /*Default font*/
    --link-color: #81a2be; /*Links*/
    --link-hover: #5f89ac; /*Link hover color*/
    --input: #282a2e; /*Background for input fields*/
    --hr: #111; /*divider tags*/
    --small-text: #767676; /*color of small text*/
    --button-background: #d0d0d0;
    --button-hover: #dcdcdc; /*Hover color of buttons*/
    --button-border: #666666; /*border for buttons*/
    --post-subject: #b294bb; /*Color of the post subject text*/
    --post-name: #c5c8c6; /*Color of the name attatched to a post*/
    --post-shadow: none; /*Shadow behind objects like posts*/
    --header-color: #1d1f21;
    --marked-post: #1d1d21; /*Background of marked post*/
    --marked-post-border: 1px solid #111; /*Border of marked post*/
}
body.theme-tomorrow {
    -webkit-animation: none;
    background-size: auto;
    background: var(--page-background);
}
.theme-tomorrow nav {
    font-size: 70%;
    border-bottom: 1px solid #111;
}
.theme-tomorrow .box {
    border: 1px solid #111;
}
.theme-tomorrow .box-header {
    background-color: var(--header-color);
}
.theme-tomorrow .author-label {
    background-color: var(--input);
    border: 1px solid #111;
}
.theme-tomorrow input, .theme-tomorrow textarea, .theme-tomorrow select, .theme-tomorrow .settings-category input {
    color: #7d7d7d;
    border: 1px solid #111;
}
.theme-tomorrow .btn {
    background: linear-gradient(to bottom, #F8F8F8, #DCDCDC) no-repeat!important;
    border: 1px solid #BBB!important;
    border-radius: 2px;
    color: black!important;
}
.theme-tomorrow .btn:active {
    background: linear-gradient(to bottom, #dcdcdc, #b8b8b8) no-repeat!important;   
}
.theme-tomorrow .btn:hover {
    background: linear-gradient(to bottom, #eaeaea, #c1c1c1) no-repeat!important; 
}
.theme-tomorrow .dropdown-content {
    border: 1px solid #111;
}
.theme-tomorrow #board-info h1, .theme-tomorrow #board-info h4 {
    font-weight: normal;
    text-shadow: 1px 1px 1px rgb(167 170 168 / 60%);
}
/*Stuff for the login/register page*/
.theme-tomorrow .login, .theme-tomorrow .register{
    border: 1px solid #111;
}
.theme-tomorrow .login h1, .theme-tomorrow .register h1 {
    background-color: var(--header-color);
    margin-top: 0;
}
.theme-tomorrow .login form label, .theme-tomorrow .register form label {
    background-color: var(--header-color);
}
.theme-tomorrow .login form input, .theme-tomorrow .register form input {
    color: var(--text-color);
    border: 1px solid #111;
}
.theme-tomorrow .login form input[type="submit"], .theme-tomorrow .register form input[type="submit"] {
    background-color: var(--button-border);
}
.theme-tomorrow .login form input[type="submit"]:hover, .theme-tomorrow .register form input[type="submit"]:hover {
    background-color: var(--input);
    transition: background-color 0.2s;
}
.theme-tomorrow #thread-list hr, .theme-tomorrow #board-message hr {
    border-color: #282a2e;
}
.theme-tomorrow #board-list-header {
    background-color: var(--page-background);
}
.theme-tomorrow #boardsDiv {
    background-color: var(--page-background);
}
.theme-tomorrow #boardsDiv .board-entry:nth-child(odd) {
    background-color: rgba(255,255,255,.1);
}
.theme-tomorrow .board-entry {
    border-top: 1px solid #111;
}
.theme-tomorrow .floating-menu-header {
    border-bottom: 1px solid #111;
}
.theme-tomorrow .dropdown-content hr {
    border-color: #111;
}
.theme-tomorrow .dropdown-submit {
    border: none;
}

/*
########
#photon#
########
*/

.theme-photon {
    --text-color: #333; /*Text color*/
    --page-background: #eee; /*Background color for the entire page*/
    --background-2: #ddd; /*Background color for posts, boxes, etc*/
    --nav-color: rgba(221,221,221); /*background color of nav bar*/
    --border-color: #ccc; /*color for things such as button borders */
    --border-radius: 0px; /*Border radius for things like boxes, posts, etc.*/
    --font-family: arial,helvetica,sans-serif; /*Default font*/
    --link-color: #f60; /*Links*/
    --link-hover: #f30; /*Link hover color*/
    --input: white; /*Background for input fields*/
    --hr: #ddd; /*divider tags*/
    --small-text: #767676; /*color of small text*/
    --button-background: linear-gradient(to bottom, #F8F8F8, #DCDCDC) no-repeat!important;;
    --button-hover: linear-gradient(to bottom, #eaeaea, #c1c1c1) no-repeat!important; ; /*Hover color of buttons*/
    --button-border: rgb(118, 118, 118); /*border for buttons*/
    --post-subject: #111; /*Color of the post subject text*/
    --post-name: #004a99; /*Color of the name attatched to a post*/
    --post-shadow: none; /*Shadow behind objects like posts*/
    --header-color: rgba(221,221,221);
    --marked-post: #ccc; /*Background of marked post*/
    --marked-post-border: 1px solid #ccc; /*Border of marked post*/
}
body.theme-photon {
    -webkit-animation: none;
    background-size: auto;
    background: var(--page-background);
}
.theme-photon nav {
    font-size: 70%;
    border: 1px solid var(--border-color);
    box-shadow: -5px 1px 10px rgb(0 0 0 / 20%);
}
.theme-photon .innerPost {
    border: 1px solid var(--border-color)
}
.theme-photon .box {
    background-color: var(--page-background);
    border: 1px solid var(--border-color);
}
.theme-photon .box-header {
    background-color: var(--background-2);
}
.theme-photon .author-label {
    background-color: var(--background-2);
    border: 1px solid var(--border-color);
}
.theme-photon input, .theme-photon textarea, .theme-photon select, .theme-photon .settings-category input {
    color: #7d7d7d;
    border: 1px solid var(--border-color);
}
.theme-photon .btn {
    background: linear-gradient(to bottom, #F8F8F8, #DCDCDC) no-repeat!important;
    border: 1px solid #BBB!important;
    border-radius: 2px;
    color: black!important;
}
.theme-photon .btn:active {
    background: linear-gradient(to bottom, #dcdcdc, #b8b8b8) no-repeat!important;   
}
.theme-photon .btn:hover {
    background: linear-gradient(to bottom, #eaeaea, #c1c1c1) no-repeat!important; 
}
.theme-photon .dropdown-content {
    border: 1px solid var(--border-color);
}
.theme-photon #board-info h1, .theme-photon #board-info h4 {
    font-weight: normal;
    color: var(--post-name);
    text-shadow: 1px 1px 1px rgb(0 74 153 / 60%);
}
/*Stuff for the login/register page*/
.theme-photon .login, .theme-photon .register{
    border: 1px solid var(--border-color);
    background-color: var(--page-background);
}
.theme-photon .login h1, .theme-photon .register h1 {
    background-color: var(--header-color);
    margin-top: 0;
}
.theme-photon .login form label, .theme-photon .register form label {
    background-color: var(--header-color);
}
.theme-photon .login form input, .theme-photon .register form input {
    color: var(--text-color);
    border: 1px solid var(--border-color);
}


.theme-photon #boardsDiv .board-entry:nth-child(odd) {
    background-color: var(--page-background);
}
.theme-photon .dropdown-content hr {
    border: 1px solid var(--border-color);
}
.theme-photon .dropdown-submit {
    border: none;
}

/*
######
#Nord#
######
*/

.theme-nord {
    --text-color: #ACACAC; /*Text color*/
    --page-background: #2E3440; /*Background color for the entire page*/
    --background-2: #3a4253; /*Background color for posts, boxes, etc*/
    --nav-color: #3b4252f5; /*background color of nav bar*/
    --border-color: #3a4253; /*color for things such as button borders */
    --border-2: #434C5E; /*Alternative border color for things such as thread/reply boxes*/
    --border-radius: 0px; /*Border radius for things like boxes, posts, etc.*/
    --font-family: arial,helvetica,sans-serif; /*Default font*/
    --link-color: #536da1; /*Links*/
    --link-hover: #5e80c5; /*Link hover color*/
    --input: #4C566A; /*Background for input fields*/
    --hr: #4C566A; /*divider tags*/
    --small-text: #767676; /*color of small text*/
    --button-background: #3a4253;
    --button-hover: #475165; /*Hover color of buttons*/
    --button-border: #262b37; /*border for buttons*/
    --post-subject: #b294bb; /*Color of the post subject text*/
    --post-name: #536da1; /*Color of the name attatched to a post*/
    --post-shadow: 3px 5px 10px rgb(0 0 0 / 33%); /*Shadow behind objects like posts*/
    --marked-post: #1d2226; /*Background of marked post*/
    --marked-post-border: 1px #2a313742 solid; /*Border of marked post*/
    --header-color: #4C566A;
    --marked-post: #2E3440; /*Background of marked post*/
    --marked-post-border: 1px solid #3a4253; /*Border of marked post*/
}
.theme-nord .box-header {
    background-color: var(--header-color);
}
.theme-nord #boardsDiv .board-entry:nth-child(odd) {
    background-color: #4c566a;
}
.theme-gruvbox {
    --text-color: #ebdbb2; /*Text color*/
    --page-background: #282828; /*Background color for the entire page*/
    --background-2: #3c3836; /*Background color for posts, boxes, etc*/
    --nav-color: #3c3836; /*background color of nav bar*/
    --border-color: #3c3836; /*color for things such as button borders */
    --border-2: #1d2021; /*Alternative border color for things such as thread/reply boxes*/
    --border-radius: 0px; /*Border radius for things like boxes, posts, etc.*/
    --font-family: arial,helvetica,sans-serif; /*Default font*/
    --link-color: #83a598; /*Links*/
    --link-hover: #458588; /*Link hover color*/
    --input: #32302f; /*Background for input fields*/
    --hr: #3c3836; /*divider tags*/
    --small-text: #928374; /*color of small text*/
    --button-background: #32302f;
    --button-hover: #282828; /*Hover color of buttons*/
    --button-border: #1d2021; /*border for buttons*/
    --post-subject: #d3869b; /*Color of the post subject text*/
    --post-name: #8ec07c; /*Color of the name attatched to a post*/
    --post-shadow: 3px 5px 10px rgb(0 0 0 / 33%); /*Shadow behind objects like posts*/
    --marked-post: #1d2226; /*Background of marked post*/
    --marked-post-border: 1px #2a313742 solid; /*Border of marked post*/
    --header-color: #665c54;
    --marked-post: #504945; /*Background of marked post*/
    --marked-post-border: 1px solid #3c3836; /*Border of marked post*/
}
.theme-gruvbox .box-header {
    background-color: var(--header-color);
}
.theme-gruvbox #boardsDiv .board-entry:nth-child(odd) {
    background-color: #504945;
}