<html>
    <head>
        <meta charset="UTF-8">
        <title>404</title>
        <link href="../static/css/global.css" type="text/css" rel="stylesheet">
        <link href="../static/css/index.css" type="text/css" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="../{{data['faviconUrl']}}"/>
    </head>
    <body class="{{currentTheme}}">
        <div class="center" id="error-box">
        <h1>404</h1>
        <h3>The page you were looking for could not be found</h3>
        <img src='../{{image}}' alt='404'>
        </div>
        <script src="../static/js/themes.js"></script>
    </body>
</html>