<html>
    <head>
        <title>Account Settings</title>
        <meta charset="UTF-8">
        <link href="{{ url_for('static', filename='css/global.css') }}" type="text/css" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="../{{data['faviconUrl']}}"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    </head>
    <body class="{{currentTheme}}">
        <nav>
            <span id="navMain">
                <a href="{{ url_for('index') }}"><i class="fas fa-home text-icon"></i>Home</a>
                <a href="{{ url_for('boards') }}"><i class="fas fa-stream text-icon"></i>Boards</a>
                <a href="{{ url_for('help') }}"><i class="fas fa-question text-icon"></i>Help</a>
                <a href="settings"><i class="fas fa-cog text-icon"></i>Settings</a>
                <select onchange="changeTheme(this.value, {{themes}})" id="theme-select">
                    {% for theme in themes %}
                        <option id="{{themes[theme]['class']}}" value="{{themes[theme]['id']}}">{{themes[theme]['name']}}</option>
                    {% endfor %}
                </select>
            </span>
        </nav>
        <div class="box box-settings">
            <h2 class="box-header">Account Settings</h2>
             <div id="accountSettings" class="settings-category">
                <h3 style="text-align: center;">Welcome {{session['username']}} [<span class="{{session['group'] | checkRole}}">{{session['group'] | checkRole}}</span>]</h3>    
                <div id="serverSettings" class="settings-category">
                    <form action="{{url_for('updatePassword')}}" method="POST">
                        <hr>
                        <h4>Password Change <span class="small">You will have to log back in</span></h4> 
                        <label> 
                            Current password:
                            <input type="password" name="currentPassword" id="currentPasswordInput" required autocomplete="off">
                        </label>
                        <label> 
                            New password:
                            <input type="password" name="newPassword" id="newPasswordInput" required autocomplete="off">
                        </label>
                        <label> 
                            Confirm password:
                            <input type="password" name="confirmPassword" id="confirmPasswordInput" required autocomplete="off">
                        </label>
                        <p><input class="btn btn-primary" type="submit" value="update password"></p>
                    </form>
                    <hr>
                    <form action="{{url_for('updateEmail')}}" method="POST">
                        <label> 
                            E-mail:
                            <input type="text" name="email" id="emailInput" value="{{session['email']}}" autocomplete="off" required>
                            <input class="btn btn-primary" type="submit" value="update e-mail">
                        </label>
                        <span class="small">You will need to log out and log back in</span>
                    </form>
                    <hr>
                    <h4>Owned Boards</h4>
                    {% for board in sqlData %}
                        {% if board['owner'] == session['username'] %}
                            <a href="{{url_for('manageBoard', board=board['uri']) }}"><i class="fas fa-cog manage-link"></i></a>
                            <a href="/{{board['uri']}}/">/{{board['uri']}}/ - {{board['name']}}</a>
                            <br>
                        {% endif %}  
                    {% endfor %}
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/themes.js') }}"></script>
    </body>
</html>