<html>
    <head>
        <meta charset="UTF-8">
        <title>{%if banned==None%}Not Banned{%else%}Banned{%endif%}</title>
        <link href="{{ url_for('static', filename='css/global.css') }}" type="text/css" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="/{{data['faviconUrl']}}"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    </head>
    <body class="{{currentTheme}}">
        <nav>
            {% include 'nav.html' %}
        </nav>
        <div class="view-content">
            <div class="box box-readable" id="ban-box">
                {%if banned == None%}
                    <h1 class="box-header center">You are not banned</h1>
                    <div class="center content">
                        You are not currently banned from posting on {{data['siteName']}}
                    </div>
                {%else%}
                    <h1 class="box-header center">Banned</h1>
                    {%for ban in banned%}
                        <div class="center content">
                            Ban ID: {{ban['id']}}<br>
                            You are banned for <span class="banned-user">{{ban['length'] | simplifyTime}}</span><br>
                            {%if ban['board'] == None%}
                                You are banned globally
                            {%else%}
                                You are banned on <a href="{{url_for('boardPage', board=ban['board'])}}">/{{ban['board']}}/</a>
                            {%endif%}
                            <br>
                            Reason: {{ban['reason']}}<br>
                            Unban date: {{ban['date'] |futureTime(ban['length'])}}
                        </div>
                        {%if unbanned[ban.index0] == True%}
                            <h3 class="center">Now that you have seen this message your ban has been lifted.</h3>
                        {%endif%}
                    {%endfor%}
                {%endif%}

            </div>
        </div>
        {%if image and banned!=None%}
            <div class="box box-readable center">
                <img src="/{{image}}" id="ban-image">
            </div>
        {%endif%}
        <script src="{{ url_for('static', filename='js/themes.js') }}"></script>
    </body>
</html>