<!DOCTYPE html>
<html>
    <head>
        <title>{{data['siteName']}} - Bans</title>
        <meta charset="UTF-8">
        <link href="{{ url_for('static', filename='css/global.css') }}" type="text/css" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/markdown.css') }}" type="text/css" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/help.css') }}" type="text/css" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="/{{data['faviconUrl']}}"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    </head>
    <body class="{{currentTheme}}">
        <nav>
            {% include 'nav.html' %}
        </nav>
        <div class="view-content" id="rules">
            <div class="box box-readable" id="">
                <h2 class="box-header center">Bans</h2>
                <div id="ban-container">
                    {%for ban in bans%}
                        <div class="ban">
                            <div class="ban-info">
                                <span>Ban ID: {{ban['id']}}</span>
                                <span>IP: {%if session['group'] <  data['cleartextIp']%}{{ban['ip']}}{%else%}{{ban['ip'] | hash}}{%endif%}</span>
                                <span>Reason: {{ban['reason']}}</span>
                                <span>Duration: {{ban['length'] | simplifyTime}}</span>
                                <span>Date: {{ban['date'] | ut}}</span>
                                <span>Post: No.{{ban['post']}} on /{{ban['board']}}/</span>
                            </div>
                            <div class="ban-actions">
                                <form action="/bans/actions" method="post">
                                    <label>
                                        Set new ban length:
                                        <input type="text" value="{{ban['length'] | complicateTime}}" placeholder="1y2m3d4h5">
                                    </label>
                                    <br>
                                    <label>
                                        Edit ban reason:
                                        <input type="text" value="{{ban['reason']}}" placeholder="ban reason">
                                    </label>
                                    <br>
                                    <input class="btn btn-primary" type="submit" value="Update">
                                </form>
                                <hr>
                                <form action="/unban" method="post">
                                    <span>Unban user</span><br>
                                    <input type="hidden" name="id" value="{{ban['id']}}">
                                    <input class="btn btn-primary" type="submit" value="Unban">
                                </form>
                            </div>
                        </div>
                    {%endfor%}
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/themes.js') }}"></script>
    </body>
</html>