<html>
    <head>
        <title>Board Management</title>
        <meta charset="UTF-8">
        <link href="{{ url_for('static', filename='css/global.css') }}" type="text/css" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="/{{data['faviconUrl']}}"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    </head>
    <body class="{{currentTheme}}">
        <nav>
            {% include 'nav.html' %}
        </nav>
        <div class="box box-settings">
            <h2 class="box-header">Board Management</h2>
             <div id="boardManagement" class="settings-category">
                <span id="board-label-manage">Board</span><span class="board-list-label">Posts</span><span class="board-list-label">PPH</span><span class="board-list-label">Users</span>
                {% for board in sqlData %}
                    <hr>
                    <div class="boardManagementDiv">
                        <a href="/{{board['uri']}}/">/{{board['uri']}}/ - {{board['name']}}</a>
                        <span class="board-list-label">{{board['posts']}}</span>
                        <span class="board-list-label">{{board['PPH']}}</span>
                        <span class="board-list-label">{{board['users']}}</span>
                        <a href="{{ url_for('manageBoard', board=board['uri']) }}" class="manage-link"><i class="fas fa-cog"></i></a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="msg center">{{msg}}</div>
        {% if session['group'] is defined and session['group'] <= data['requiredRole']|int %}
            <div class="box" style="width: 40%;">
                <h2 class="box-header">Create board</h2>
                <form id="create-board" action="/createboard" method="POST">
                    <label> 
                        Board URI:
                        <input type="text" name="uri" id="uriInput" class="settings-input" placeholder="ex: b" required autocomplete="off">
                    </label>
                    <label> 
                        Board Name:
                        <input type="text" name="name" id="board-nameInput" class="settings-input" placeholder="ex: Random" required autocomplete="off">
                    </label>
                    <label> 
                        Board Description:
                        <input type="text" name="description" id="boarddescriptionInput" class="settings-input" placeholder="ex: The random board" required autocomplete="off">
                    </label>
                    <input class="btn btn-primary" type="submit" value="Create Board">
                </form>
            </div>  
        {% endif %}
    </body>
    <script src="{{ url_for('static', filename='js/themes.js') }}"></script>
</html>