<!DOCTYPE html>
<html>
    <head>
        <title>/{{board}}/ - {{boardData['name']}}</title>
        <meta charset="UTF-8">
        <link href="../static/css/global.css" type="text/css" rel="stylesheet">
        <link href="../static/css/board.css" type="text/css" rel="stylesheet">
        <link href="../../static/css/markdown.css" type="text/css" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="../{{data['faviconUrl']}}"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    </head>
    <body class="{{currentTheme}}">
        <nav>
            <span id="navMain">
                <a href="{{ url_for('index') }}"><i class="fas fa-home text-icon"></i>Home</a>
                <a href="{{ url_for('boards') }}"><i class="fas fa-stream text-icon"></i>Boards</a>
                <a href="{{ url_for('help') }}"><i class="fas fa-question text-icon"></i>Help</a>
                <a href="settings"><i class="fas fa-cog text-icon"></i>Settings</a>
                <select onchange="changeTheme(this.value, {{themes}})" id="theme-select">
                    {% for theme in themes %}
                        <option id="{{themes[theme]['class']}}" value="{{themes[theme]['id']}}">{{themes[theme]['name']}}</option>
                    {% endfor %}
                </select>
            </span>
            <span id="nav-secondary">
                <div class="nav-button" onclick="showHiddenMenu()"><i class="fas fa-eye-slash text-icon"></i><label>Hidden Posts</label></div>
            </span>
        </nav>
        <div id="board-info">
            <img src="../{{banner}}" id="banner" alt="banner">
            <h1 class="center" id="board-name">/{{board}}/ - {{boardData['name']}}</h1>
            <h4 class="center">{{boardData['description']}}</h4>
        </div>
        <div id="toggle-author-box">
            <button class="btn" onclick="showAuthor()">Start a new thread</button>
        </div>
        <div id="author-container" style="display: none;">  
            <form action="{{url_for('newThread')}}" method="POST" id="authorForm" enctype="multipart/form-data">
                <input type="hidden" name="board" value="{{board}}">
                <table>
                    <tbody>
                        <tr>
                            <td class="author-label">Name</td>
                            {%if session['name']%}
                                <td><input class="author-input" type="text" tabindex="1" name="name" autocomplete="off" value="{{session['name']}}"></td>
                            {%else%}
                                <td><input class="author-input" type="text" tabindex="1" name="name" autocomplete="off" placeholder="{{boardData['anonymous']}}"></td>
                            {%endif%}
                        </tr>
                        <tr>
                            <td class="author-label">Options</td>
                            <td><input class="author-input" tabindex="2" type="text" name="options" autocomplete="off"></td>
                        </tr>
                        <tr>
                            <td class="author-label">Subject</td>
                            <td><input class="author-input" tabindex="3" type="text" name="subject" autocomplete="off"><input class="btn" id="post-button" type="submit" value="Post" tabindex="6"></td>
                        </tr>
                        <tr>
                            <td class="author-label">Comment</td>
                            <td><textarea class="author-input" name="comment" cols="48" rows="4" wrap="soft" tabindex="4" style="width: 292px;" required></textarea></td>
                        </tr>
                        {% if boardData['captcha'] == 1 %}
                            <tr>
                                <td class="author-label">Verification</td>
                                <td style="display: grid;"><img src="../{{captcha}}" tabindex="5" class="captcha"><input class="author-input" tabindex="6" type="text" name="captcha" autocomplete="off" required></td>
                                
                            </tr>
                        {% endif %}
                        <tr>
                            <td class="author-label">File</td>
                            <td>
                                <input id="file-input" name="file" type="file" multiple tabindex="7" required accept="{{data['mimeTypes']}}">
                                <span id="spoiler">[<label><input type="checkbox" name="spoiler" value="on" tabindex="8">Spoiler?</label>]</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="author-label">Password</td>
                            <td><input class="author-input" tabindex="9" type="text" name="password" autocomplete="off" value="{{filePass}}"><span class="small">(For post deletion)</span>
                        </tr>
                        <tr id="rules">
                            <td colspan="2">
                                <ul id="rules">
                                    <li class="small">Please read the <a href="rules">Board Rules</a> and <a href="../globalRules">Global Rules</a> before posting.</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <div id="board-message">
            <hr>
            <span>{{boardData['message']}}</span>
            <hr>
        </div>
        <div id="boardNavigation">
            <span>
              [<a href="catalog">Catalog</a>]
            </span>
            <span>
              [<a href="#footer">Bottom</a>]
            </span>
        </div>
        <div id="thread-list">
            <div id="threads"> 
                {% for thread in threads %}
                    <div class="thread" id="t-{{thread['number']}}">
                        <div class="op" id="{{thread['number']}}">
                            <hr>
                            {%set files = thread['files'].split(',')%}
                            {%set filenames = thread['filenames'].split(',')%}
                            {%if files | length > 1%}
                                <div class="uploads multiple-files">
                            {%else%}
                                <div class="uploads ">
                            {%endif%}
                            {%for file in files%}
                                    <div class="fileDiv">
                                        <div class="file-info">
                                            <a class="filename" href="../{{file}}" target="_blank">{{filenames[files.index(file)]}}</a>
                                            <a href="../{{file}}" download="{{filenames[files.index(file)]}}"><i class="fas fa-download text-icon"></i></a>
                                            {%if file | checkimage == True%}
                                                <span class="fileSize text-icon">({{file | filesize}}, {{file | dimensions}})</span>
                                            {%else%}
                                                <span class="fileSize text-icon">({{file | filesize}})</span>
                                            {%endif%}
                                        </div>
                                        <a class="linkImg" target="_blank" href="../{{file}}">
                                            {%if thread['spoiler'] == 1%}
                                                <img loading="lazy" class="thumbnail" src="../{{data['spoilerImage']}}">
                                            {%else%}
                                                <img loading="lazy" class="thumbnail" src="../{{ ((file| splittext)[:-1] | join('.')) }}s.{{ ((file| splittext)[3])}}">
                                            {%endif%}
                                        </a>
                                    </div>
                            {%endfor%}
                            </div>
                            <div class="postInfo">
                                <span class="post-dropdown">
                                    <span class="dropdown-button dropdown-button-marker" onclick="dropdownFunction(this)"><i class="fas fa-caret-right dropdown-button-marker"></i></span>
                                    <form action="/{{board}}/postActions" method="POST">
                                        <div class="dropdown-content">
                                            <div class="dropdown-link" onclick="hidePostThread(this)">Hide post</div>
                                            <hr>
                                            <input type="hidden" name="board" value="{{board}}">
                                            <input type="hidden" name="password" value="{{filePass}}">
                                            <input type="hidden" name="post" value="{{thread['number']}}">
                                            <input class="dropdown-link dropdown-submit" type="submit" name="delete" value="Delete">
                                            <hr>  
                                            <div class="dropdown-link" type="submit">Report</div>
                                            <hr>  
                                            <div class="dropdown-link" onclick="">Filter</div>
                                        </div>
                                    </form>
                                </span>
                                <span class="subject">{{thread['subject']}}</span>
                                {%if thread['options'] | length > 0%}
                                    <a class="name optionsName" href="mailto:{{thread['options']}}" target="_blank">{{thread['name']}}</a>
                                {%else%}
                                    <span class="name">{{thread['name']}}</span>
                                {%endif%}
                                <span>{{thread['date'] | ut}}</span>
                                <span><a class="postNumber" href="thread/{{thread['number']}}#{{thread['number']}}">No.</a><a class="postNumber">{{thread['number']}}</a></span>
                                <span>[<a class="reply">Reply</a>]</span>
                            </div>
                            <blockquote class="comment">{{thread['message']}}</blockquote>
                        </div>
                        {%set posts = thread['number'] | fivePosts(board)%}
                        {%for post in posts%}
                            <div class="replyDiv" id="{{post['number']}}">
                                <div class="innerPost">
                                    <div class="postInfo">
                                        <span class="post-dropdown">
                                            <i class="fas fa-caret-right dropdown-button-marker dropdown-button" onclick="dropdownFunction(this)"></i>
                                            <form action="/{{board}}/postActions" method="POST">
                                                <div class="dropdown-content">
                                                    <div class="dropdown-link" onclick="hidePostThread(this)">Hide post</div>
                                                    <hr>
                                                    <input type="hidden" name="board" value="{{board}}">
                                                    <input type="hidden" name="password" value="{{filePass}}">
                                                    <input type="hidden" name="post" value="{{post['number']}}">
                                                    <input class="dropdown-link dropdown-submit" type="submit" name="delete" value="Delete">
                                                    <hr>  
                                                    <div class="dropdown-link" type="submit">Report</div>
                                                    <hr>  
                                                    <div class="dropdown-link" onclick="">Filter</div>
                                                </div>
                                            </form>
                                        </span>
                                        <input type="checkbox" name="{{post['number']}}-{{board}}">
                                        <span class="subject">{{post['subject']}}</span>
                                        {%if post['options'] | length > 0%}
                                            <a class="name optionsName" href="mailto:{{post['options']}}" target="_blank">{{post['name']}}</a>
                                        {%else%}
                                            <span class="name">{{post['name']}}</span>
                                        {%endif%}
                                        <span>{{post['date'] | ut}}</span>
                                        <span><a class="postNumber" href="thread/{{thread['number']}}#{{post['number']}}">No.</a><a class="postNumber">{{post['number']}}</a></span>
                                        <span>[<a class="reply">Reply</a>]</span>
                                    </div>
                                    {%if post['files'] != None%}
                                        {%set files = post['files'].split(',')%}
                                        {%set filenames = post['filenames'].split(',')%}
                                        {%if files | length > 1%}
                                            <div class="uploads multiple-files">
                                        {%else%}
                                            <div class="uploads">
                                        {%endif%}
                                        {%for file in files%}
                                            <div class="fileDiv">
                                                <div class="file-info">
                                                    <a class="filename" href="../../{{file}}" target="_blank">{{filenames[files.index(file)]}}</a>
                                                    <a href="../../{{file}}" download="{{filenames[files.index(file)]}}"><i class="fas fa-download text-icon"></i></a>
                                                    {%if file | checkimage == True%}
                                                        <span class="fileSize text-icon">({{file | filesize}}, {{file | dimensions}})</span>
                                                    {%else%}
                                                        <span class="fileSize text-icon">({{file | filesize}})</span>
                                                    {%endif%}
                                                </div>
                                                <a class="linkImg" target="_blank" href="../../{{file}}">
                                                    {%if post['spoiler'] == 1%}
                                                        <img loading="lazy" class="thumbnail" src="../../{{data['spoilerImage']}}">
                                                    {%else%}
                                                        <img loading="lazy" class="thumbnail" src="../../{{ ((file| splittext)[:-1] | join('.')) }}s.{{ ((file| splittext)[3])}}">
                                                    {%endif%}
                                                </a>
                                            </div>
                                        {%endfor%}
                                        </div>
                                    {%endif%}
                                    <blockquote class="comment">{{post['message']}}</blockquote>
                                    </div>
                                </div>
                        {%endfor%}
                    </div>
                {% endfor %}
                {% if boardData['owner'] == session['username']%}
                <div id="boardManagement">
                    <hr>
                    <span>
                        [<a href="../manageboard?uri={{boardData['uri']}}">Board Settings</a>]
                    </span>
                </div>
            {%endif%}
            </div>
        </div>
        <footer>
            Any post made by a user is the responsibility of that user.
        </footer>
        <script src="../static/js/themes.js"></script>
        <script src="../static/js/posting.js"></script>
        <script src="../../static/js/markdown.js"></script>
    </body>
</html>