<!DOCTYPE html>
<html>
    <head>
        <title>/{{board}}/ - {{boardData['name']}}</title>
        <meta charset="UTF-8">
        <link href="../static/css/global.css" type="text/css" rel="stylesheet">
        <link href="../static/css/board.css" type="text/css" rel="stylesheet">
        <link href="../../static/css/markdown.css" type="text/css" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="../{{data['faviconUrl']}}"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    </head>
    <body>
        <nav>
            <span id="navMain">
                <a href="{{ url_for('index') }}"><i class="fas fa-home textIcon"></i>Home</a>
                <a href="{{ url_for('boards') }}"><i class="fas fa-stream textIcon"></i>Boards</a>
                <a href="{{ url_for('help') }}"><i class="fas fa-question textIcon"></i>Help</a>
                <a href="settings"><i class="fas fa-cog textIcon"></i>Settings</a>
            </span>
        </nav>
        <div id="boardInfo">
            <img src="../{{banner}}" id="banner" alt="banner">
            <h1 class="center" id="boardName">/{{board}}/ - {{boardData['name']}}</h1>
            <h4 class="center">{{boardData['description']}}</h4>
        </div>
        <div id="toggleAuthorBox">
            <button onclick="showAuthor()">Start a new thread</button>
        </div>
        <div id="authorContainer" style="display: none;">  
            <form action="/newThread" method="POST" id="authorForm" enctype="multipart/form-data">
                <input type="hidden" name="board" value="{{board}}">
                <table>
                    <tbody>
                        <tr>
                            <td class="authorLabel">Name</td>
                            <td><input class="authorInput" type="text" tabindex="1" name="name" autocomplete="off" placeholder="{{boardData['anonymous']}}"></td>
                        </tr>
                        <tr>
                            <td class="authorLabel">Options</td>
                            <td><input class="authorInput" tabindex="2" type="text" name="options" autocomplete="off"></td>
                        </tr>
                        <tr>
                            <td class="authorLabel">Subject</td>
                            <td><input class="authorInput" tabindex="3" type="text" name="subject" autocomplete="off"><input id="postButton" type="submit" value="Post" tabindex="6"></td>
                        </tr>
                        <tr>
                            <td class="authorLabel">Comment</td>
                            <td><textarea class="authorInput" name="comment" cols="48" rows="4" wrap="soft" tabindex="4" style="width: 292px;" required></textarea></td>
                        </tr>
                        {% if boardData['captcha'] == 1 %}
                            <tr>
                                <td class="authorLabel">Verification</td>
                                <td style="display: grid;"><img src="../{{captcha}}" tabindex="5" class="captcha"><input class="authorInput" tabindex="6" type="text" name="captcha" autocomplete="off" required></td>
                                
                            </tr>
                        {% endif %}
                        <tr>
                            <td class="authorLabel">File</td>
                            <td>
                                <input id="fileInput" name="file" type="file" multiple tabindex="7" required accept="{{data['mimeTypes']}}">
                                <span id="spoiler">[<label><input type="checkbox" name="spoiler" value="on" tabindex="8">Spoiler?</label>]</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="authorLabel">Password</td>
                            <td><input class="authorInput" tabindex="9" type="text" name="password" autocomplete="off" value="{{filePass}}"><span class="small">(For post deletion)</span>
                        </tr>
                        <tr id="rules">
                            <td colspan="2">
                                <ul id="rules">
                                    <li class="small">Please read the <a href="rules">Board Rules</a> and <a href="../globalRules">Global Rules</a> before posting.</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <div id="boardMessage">
            <hr>
            <span>{{boardData['message']}}</span>
            <hr>
        </div>
        <div id="boardNavigation">
            <span>
              [<a href="catalog">Catalog</a>]
            </span>
            <span>
              [<a href="#footer">Bottom</a>]
            </span>
        </div>
        <div id="threadList">
            <div id="threads"> 
                {% for thread in threads %}
                    <div class="op" id="{{thread['number']}}">
                        <hr>
                        {%set files = thread['files'].split(',')%}
                        {%set filenames = thread['filenames'].split(',')%}
                        {%if files | length > 1%}
                            <div class="uploads multipleFiles">
                        {%else%}
                            <div class="uploads ">
                        {%endif%}
                        {%for file in files%}
                                <div class="fileDiv">
                                    <div class="fileInfo">
                                        <a class="filename" href="../{{file}}" target="_blank">{{filenames[files.index(file)]}}</a>
                                        <a href="../{{file}}" download="{{filenames[files.index(file)]}}"><i class="fas fa-download textIcon"></i></a>
                                        {%if file | checkimage == True%}
                                            <span class="fileSize textIcon">({{file | filesize}}, {{file | dimensions}})</span>
                                        {%else%}
                                            <span class="fileSize textIcon">({{file | filesize}})</span>
                                        {%endif%}
                                    </div>
                                    <a class="linkImg" target="_blank" href="../{{file}}">
                                        {%if thread['spoiler'] == 1%}
                                            <img loading="lazy" class="thumbnail" src="../{{data['spoilerImage']}}">
                                        {%else%}
                                            <img loading="lazy" class="thumbnail" src="../{{ ((file| splittext)[:-1] | join('.')) }}s.{{ ((file| splittext)[3])}}">
                                        {%endif%}
                                    </a>
                                </div>
                        {%endfor%}
                        </div>
                        <div class="postInfo">
                            <span class="subject">{{thread['subject']}}</span>
                            <span class="name">{{thread['name']}}</span>
                            <span>{{thread['date'] | ut}}</span>
                            <span><a class="postNumber" href="thread/{{thread['number']}}#{{thread['number']}}">No.</a><a class="postNumber">{{thread['number']}}</a></span>
                            <span>[<a class="reply">Reply</a>]</span>
                        </div>
                        <blockquote class="comment">{{thread['message']}}</blockquote>
                    </div>
                    {%set posts = thread['number'] | fivePosts(board)%}
                    {%for post in posts%}
                        <div class="replyDiv" id="{{post['number']}}">
                            <div class="innerPost">
                                <div class="postInfo">
                                    <input type="checkbox" name="{{post['number']}}-{{board}}">
                                    <span class="subject">{{post['subject']}}</span>
                                    <span class="name">{{post['name']}}</span>
                                    <span>{{post['date'] | ut}}</span>
                                    <span><a class="postNumber" href="thread/{{thread['number']}}#{{post['number']}}">No.</a><a class="postNumber">{{post['number']}}</a></span>
                                    <span>[<a class="reply">Reply</a>]</span>
                                </div>
                                {%if post['files'] != None%}
                                    {%set files = post['files'].split(',')%}
                                    {%set filenames = post['filenames'].split(',')%}
                                    {%if files | length > 1%}
                                        <div class="uploads multipleFiles">
                                    {%else%}
                                        <div class="uploads">
                                    {%endif%}
                                    {%for file in files%}
                                            <div class="fileDiv">
                                                <div class="fileInfo">
                                                    <a class="filename" href="../../{{file}}" target="_blank">{{filenames[files.index(file)]}}</a>
                                                    <a href="../../{{file}}" download="{{filenames[files.index(file)]}}"><i class="fas fa-download textIcon"></i></a>
                                                    {%if file | checkimage == True%}
                                                        <span class="fileSize textIcon">({{file | filesize}}, {{file | dimensions}})</span>
                                                    {%else%}
                                                        <span class="fileSize textIcon">({{file | filesize}})</span>
                                                    {%endif%}
                                                </div>
                                                <a class="linkImg" target="_blank" href="../../{{file}}">
                                                    {%if post['spoiler'] == 1%}
                                                        <img loading="lazy" class="thumbnail" src="../../{{data['spoilerImage']}}">
                                                    {%else%}
                                                        <img loading="lazy" class="thumbnail" src="../../{{ ((file| splittext)[:-1] | join('.')) }}s.{{ ((file| splittext)[3])}}">
                                                    {%endif%}
                                                </a>
                                            </div>
                                    {%endfor%}
                                    </div>
                                {%endif%}
                                <blockquote class="comment">{{post['message']}}</blockquote>
                                </div>
                            </div>
                    {%endfor%}
                {% endfor %}
                {% if boardData['owner'] == session['username'] or session['group'] == 'administrator' %}
                <div id="boardManagement">
                    <hr>
                    <span>
                        [<a href="../manageboard?uri={{boardData['uri']}}">Board Settings</a>]
                    </span>
                </div>
            {%endif%}
            </div>
        </div>
        <footer>
            Any post made by a user is the responsibility of that user.
        </footer>
        <script src="../static/js/board.js"></script>
        <script src="../../static/js/markdown.js"></script>
    </body>
</html>