<!DOCTYPE html>
<html>
    <head>
        <title>/{{board}}/ - {{boardData['name']}}</title>
        <meta charset="UTF-8">
        <link href="{{ url_for('static', filename='css/global.css') }}" type="text/css" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/board.css') }}" type="text/css" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/markdown.css') }}" type="text/css" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="/{{data['faviconUrl']}}"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    </head>
    <body class="{{currentTheme}}">
        <nav>
            <span id="navMain">
                <a href="{{ url_for('index') }}"><i class="fas fa-home text-icon"></i>Home</a>
                <a href="{{ url_for('boards') }}"><i class="fas fa-stream text-icon"></i>Boards</a>
                <a href="{{ url_for('help') }}"><i class="fas fa-question text-icon"></i>Help</a>
                <a href="/settings"><i class="fas fa-cog text-icon"></i>Settings</a>
                <select onchange="changeTheme(this.value, {{themes}})" id="theme-select">
                    {% for theme in themes %}
                        <option id="{{themes[theme]['class']}}" value="{{themes[theme]['id']}}">{{themes[theme]['name']}}</option>
                    {% endfor %}
                </select>
            </span>
            <span id="nav-secondary">
                <span>
                    [
                    <a href="#banner"><i class="fas fa-arrow-up"></i></a>
                    /
                    <a href="#footer"><i class="fas fa-arrow-down"></i></a>
                    ]
                </span>
                <div class="nav-button" onclick="showHiddenMenu()"><i class="fas fa-eye-slash text-icon"></i><label>Hidden Posts</label></div>
            </span>
        </nav>
        <div id="board-info">
            <img src="/{{banner}}" id="banner" alt="banner">
            <h1 class="center" id="board-name">/{{board}}/ - {{boardData['name']}}</h1>
            <h4 class="center">{{boardData['description']}}</h4>
        </div>
        <div id="toggle-author-box">
            <button class="btn" onclick="showAuthor()">Start a new thread</button>
        </div>
        <div id="author-container" style="display: none;">  
            <form action="{{url_for('newThread')}}" method="POST" id="authorForm" enctype="multipart/form-data">
                <input type="hidden" name="board" value="{{board}}">
                <table>
                    <tbody>
                        <tr>
                            <td class="author-label">Name</td>
                            {%if session['name']%}
                                <td><input class="author-input" type="text" tabindex="1" name="name" autocomplete="off" value="{{session['name']}}"></td>
                            {%else%}
                                <td><input class="author-input" type="text" tabindex="1" name="name" autocomplete="off" placeholder="{{boardData['anonymous']}}"></td>
                            {%endif%}
                        </tr>
                        <tr>
                            <td class="author-label">Options</td>
                            <td><input class="author-input" tabindex="2" type="text" name="options" autocomplete="off"></td>
                        </tr>
                        <tr>
                            <td class="author-label">Subject</td>
                            <td><input class="author-input" tabindex="3" type="text" name="subject" autocomplete="off"><input class="btn" id="post-button" type="submit" value="Post" tabindex="6"></td>
                        </tr>
                        <tr>
                            <td class="author-label">Comment</td>
                            <td><textarea class="author-input" id="comment" name="comment" cols="48" rows="4" wrap="soft" tabindex="4" required></textarea></td>
                        </tr>
                        {% if boardData['captcha'] == 1 %}
                            <tr>
                                <td class="author-label">Verification</td>
                                <td id="captcha-td"><img src="/{{captcha}}" tabindex="5" class="captcha"><input class="author-input" tabindex="6" type="text" name="captcha" autocomplete="off" required></td>
                                
                            </tr>
                        {% endif %}
                        <tr>
                            <td class="author-label">File</td>
                            <td>
                                <input id="file-input" name="file" type="file" multiple tabindex="7" required accept="{{data['mimeTypes']}}">
                                <span id="spoiler">[<label><input type="checkbox" name="spoiler" value="on" tabindex="8">Spoiler?</label>]</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="author-label">Password</td>
                            <td><input class="author-input" tabindex="9" type="text" name="password" autocomplete="off" value="{{filePass}}"><span class="small">(For post deletion)</span>
                        </tr>
                        <tr id="rules">
                            <td colspan="2">
                                <ul id="rules">
                                    <li class="small">Please read the <a href="{{url_for('boardRules', board=board)}}">Board Rules</a> and <a href="{{url_for('rules')}}">Global Rules</a> before posting.</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <div id="board-message">
            <hr>
            <span id="board-message-content">{{boardData['message']  | checkMarkdown(None, board, None) | safe}}</span>
            <hr>
        </div>
        <div id="boardNavigation">
            <span>
              [<a href="catalog">Catalog</a>]
            </span>
            <span>
              [<a href="#footer">Bottom</a>]
            </span>
        </div>
        <div id="thread-list">
            <div id="threads"> 
                {% for thread in threads %}
                    <div class="thread" id="t-{{thread['number']}}">
                        <div class="op" id="{{thread['number']}}">
                            <hr>
                            {%set files = thread['files'].split(',')%}
                            {%set filenames = thread['filenames'].split(',')%}
                            {%if files | length > 1%}
                                <div class="uploads multiple-files">
                            {%else%}
                                <div class="uploads ">
                            {%endif%}
                            {%for file in files%}
                                    <div class="fileDiv">
                                        <div class="file-info">
                                            <a class="filename" href="/{{file}}" target="_blank">{{filenames[files.index(file)]}}</a>
                                            <a href="/{{file}}" download="{{filenames[files.index(file)]}}"><i class="fas fa-download text-icon"></i></a>
                                            {%if file | checkimage == True%}
                                                <span class="fileSize text-icon">({{file | filesize}}, {{file | dimensions}})</span>
                                            {%else%}
                                                <span class="fileSize text-icon">({{file | filesize}})</span>
                                            {%endif%}
                                        </div>
                                        <a class="linkImg" target="_blank" href="/{{file}}">
                                            {%if thread['spoiler'] == 1%}
                                                <img loading="lazy" class="thumbnail" src="/{{data['spoilerImage']}}">
                                            {%else%}
                                                <img loading="lazy" class="thumbnail" src="/{{ ((file| splittext)[:-1] | join('.')) }}s.{{ ((file| splittext)[3])}}">
                                            {%endif%}
                                        </a>
                                    </div>
                            {%endfor%}
                            </div>
                            <div class="postInfo">
                                <span class="post-dropdown">
                                    <span class="dropdown-button dropdown-button-marker" onclick="dropdownFunction(this)"><i class="fas fa-caret-right dropdown-button-marker"></i></span>
                                    <form action="/{{board}}/postActions" method="POST">
                                        <div class="dropdown-content">
                                            <div class="dropdown-link" onclick="hidePostThread(this)">Hide post</div>
                                            <hr>
                                            <input type="hidden" name="post" value="{{thread['number']}}">
                                            {%if session['filePassword'] == thread['password']%}
                                                <input class="dropdown-link dropdown-submit" type="submit" name="delete" value="Delete">
                                            {%elif session['group'] is defined and session['group'] <= 3%}
                                                <input class="dropdown-link dropdown-submit" type="submit" name="delete" value="Delete">
                                            {%else%}
                                                <input type="hidden" name="password">
                                                <div class="dropdown-link dropdown-submit" onclick="deletePrompt(this)">Delete</div>
                                                <input class="dropdown-link dropdown-submit" type="submit" name="delete" value="Delete" style="display: none;">
                                            {%endif%}
                                            <hr>  
                                            <div class="dropdown-link" type="submit">Report</div>
                                            <hr>  
                                            <div class="dropdown-link" onclick="">Filter</div>
                                        </div>
                                    </form>
                                </span>
                                {%if thread['subject'] != None%}
                                    <span class="subject">{{thread['subject']}}</span>
                                {%endif%}
                                {%if thread['trip']|hasSignature == True%}
                                    {%if thread['options'] != None%}
                                        <a class="name optionsName" href="mailto:{{thread['options']}}" target="_blank">{{thread['name']}}##<span class="{{thread['trip']}}">{{thread['trip']}}</span></a>
                                    {%else%}
                                        <span class="name">{{thread['name']}}##<span class="{{thread['trip']}}">{{thread['trip']}}</span></a>
                                    {%endif%}
                                {%else%}
                                    {%if thread['trip'] != None%}
                                        {%if thread['options'] != None%}
                                            <a class="name optionsName" href="mailto:{{thread['options']}}" target="_blank">{{thread['name']}}##{{thread['trip']}}</a>
                                        {%else%}
                                            <span class="name">{{thread['name']}}##{{thread['trip']}}</span>
                                        {%endif%}
                                    {%else%}
                                        {%if thread['options'] != None%}
                                            <a class="name optionsName" href="mailto:{{thread['options']}}" target="_blank">{{thread['name']}}</a>
                                        {%else%}
                                            <span class="name">{{thread['name']}}</span>
                                        {%endif%}
                                    {%endif%}
                                {%endif%}
                                {%if board+"/"+thread["number"]|string in owned%}
                                    <span class="you">(you)</span>
                                {%endif%}
                                <span>{{thread['date'] | ut}}</span>
                                <span><a class="postNumber" href="thread/{{thread['number']}}#{{thread['number']}}">No.</a><a href="thread/{{thread['number']}}#q{{thread['number']}}" class="postNumber">{{thread['number']}}</a></span>
                                <span>[<a class="reply">Reply</a>]</span>
                                {%if thread['replies'] != None and thread['replies'].split(',')%}
                                    <span>
                                        {%set replies = thread['replies'].split(',')%}
                                        {%for reply in replies%}
                                            {%set reply = reply.split("/")%}
                                            <a href="/{{board}}/thread/{{reply[0]}}#{{reply[1]}}">>>{{reply[1]}}{%if board+"/"+reply[1]|string in owned%}(you){%endif%}</a>
                                        {%endfor%}
                                    </span>
                                {%endif%}
                            </div>
                            <blockquote class="comment">{{thread['message'] | checkMarkdown(thread['number'], board, thread['number']) | safe}}</blockquote>
                        </div>
                        {%set posts = thread['number'] | fivePosts(board)%}
                        {%for post in posts%}
                            <div class="replyDiv" id="{{post['number']}}">
                                <div class="innerPost">
                                    <div class="postInfo">
                                        <span class="post-dropdown">
                                            <i class="fas fa-caret-right dropdown-button-marker dropdown-button" onclick="dropdownFunction(this)"></i>
                                            <form action="/{{board}}/postActions" method="POST">
                                                <div class="dropdown-content">
                                                    <div class="dropdown-link" onclick="hidePostThread(this)">Hide post</div>
                                                    <hr>
                                                    <input type="hidden" name="post" value="{{post['number']}}">
                                                    {%if session['filePassword'] == post['password']%}
                                                        <input class="dropdown-link dropdown-submit" type="submit" name="delete" value="Delete">
                                                    {%elif session['group'] is defined and session['group'] <= 3%}
                                                        <input class="dropdown-link dropdown-submit" type="submit" name="delete" value="Delete">
                                                    {%else%}
                                                        <input type="hidden" name="password">
                                                        <div class="dropdown-link dropdown-submit" onclick="deletePrompt(this)">Delete</div>
                                                        <input class="dropdown-link dropdown-submit" type="submit" name="delete" value="Delete" style="display: none;">
                                                    {%endif%}
                                                    <hr>  
                                                    <div class="dropdown-link" type="submit">Report</div>
                                                    <hr>  
                                                    <div class="dropdown-link" onclick="">Filter</div>
                                                </div>
                                            </form>
                                        </span>
                                        <input type="checkbox" name="{{post['number']}}-{{board}}">
                                        {%if post['subject'] != None%}
                                            <span class="subject">{{post['subject']}}</span>
                                        {%endif%}
                                        {%if post['trip']|hasSignature == True%}
                                            {%if post['options'] != None%}
                                                <a class="name optionsName" href="mailto:{{post['options']}}" target="_blank">{{post['name']}}##<span class="{{post['trip']}}">{{post['trip']}}</span></a>
                                            {%else%}
                                                <span class="name">{{post['name']}}##<span class="{{post['trip']}}">{{post['trip']}}</span></a>
                                            {%endif%}
                                        {%else%}
                                            {%if post['trip'] != None%}
                                                {%if post['options'] != None%}
                                                    <a class="name optionsName" href="mailto:{{post['options']}}" target="_blank">{{post['name']}}##{{post['trip']}}</a>
                                                {%else%}
                                                    <span class="name">{{post['name']}}##{{post['trip']}}</span>
                                                {%endif%}
                                            {%else%}
                                                {%if post['options'] != None%}
                                                    <a class="name optionsName" href="mailto:{{post['options']}}" target="_blank">{{post['name']}}</a>
                                                {%else%}
                                                    <span class="name">{{post['name']}}</span>
                                                {%endif%}
                                            {%endif%}
                                        {%endif%}
                                        {%if board+"/"+post["number"]|string in owned%}
                                            <span class="you">(you)</span>
                                        {%endif%}
                                        <span>{{post['date'] | ut}}</span>
                                        <span><a class="postNumber" href="thread/{{thread['number']}}#{{post['number']}}">No.</a><a href="thread/{{thread['number']}}#q{{post['number']}}" class="postNumber">{{post['number']}}</a></span>
                                        <span>[<a class="reply">Reply</a>]</span>
                                        {%if post['replies'] != None and post['replies'].split(',')%}
                                            <span>
                                                {%set replies = post['replies'].split(',')%}
                                                {%for reply in replies%}
                                                    {%set reply = reply.split("/")%}
                                                    <a href="/{{board}}/thread/{{reply[0]}}#{{reply[1]}}">>>{{reply[1]}}{%if board+"/"+reply[1]|string in owned%}(you){%endif%}</a>
                                                {%endfor%}
                                            </span>
                                        {%endif%}
                                    </div>
                                    {%if post['files'] != None%}
                                        {%set files = post['files'].split(',')%}
                                        {%set filenames = post['filenames'].split(',')%}
                                        {%if files | length > 1%}
                                            <div class="uploads multiple-files">
                                        {%else%}
                                            <div class="uploads">
                                        {%endif%}
                                        {%for file in files%}
                                            <div class="fileDiv">
                                                <div class="file-info">
                                                    <a class="filename" href="/{{file}}" target="_blank">{{filenames[files.index(file)]}}</a>
                                                    <a href="/{{file}}" download="{{filenames[files.index(file)]}}"><i class="fas fa-download text-icon"></i></a>
                                                    {%if file | checkimage == True%}
                                                        <span class="fileSize text-icon">({{file | filesize}}, {{file | dimensions}})</span>
                                                    {%else%}
                                                        <span class="fileSize text-icon">({{file | filesize}})</span>
                                                    {%endif%}
                                                </div>
                                                <a class="linkImg" target="_blank" href="/{{file}}">
                                                    {%if post['spoiler'] == 1%}
                                                        <img loading="lazy" class="thumbnail" src="/{{data['spoilerImage']}}">
                                                    {%else%}
                                                        <img loading="lazy" class="thumbnail" src="/{{ ((file| splittext)[:-1] | join('.')) }}s.{{ ((file| splittext)[3])}}">
                                                    {%endif%}
                                                </a>
                                            </div>
                                        {%endfor%}
                                        </div>
                                    {%endif%}
                                    <blockquote class="comment">{{post['message'] | checkMarkdown(thread['number'], board, post['number']) | safe}}</blockquote>
                                    </div>
                                </div>
                        {%endfor%}
                    </div>
                {% endfor %}
                <div id="boardPages">
                    <hr>
                    <span>
                        [
                        {%if page != 1%}<a href="{{page-1}}"><i class="fas fa-chevron-left"></i></a>{%endif%}
                        {% for x in range((postLength / boardData['perPage'])|round(0,'ceil')|int) %}
                            <a href="{{x+1}}">{{x+1}}</a>
                        {% endfor %}
                        {%if page != (postLength / boardData['perPage'])|round(0,'ceil')|int%}<a href="{{page+1}}"><i class="fas fa-chevron-right"></i></a>{%endif%}
                        ]
                    </span>
                </div>
                {% if boardData['owner'] == session['username']%}
                    <div id="boardManagement">
                        <hr>
                        <span>
                            [<a href="{{ url_for('manageBoard', board=board) }}">Board Settings</a>]
                        </span>
                    </div>
                {%elif session['group'] is defined and session['group'] <= 1%}
                    <div id="boardManagement">
                        <hr>
                        <span>
                            [<a href="{{ url_for('manageBoard', board=board) }}">Board Settings</a>]
                        </span>
                    </div>
                {%endif%}
            </div>
        </div>
        <footer id="footer">
            <p>Any post made by a user is the responsibility of that user.</p>
            <span id="footer-links">
                <a href="{{url_for('faq')}}" target="_blank">FAQ</a>
                •
                <a href="{{url_for('rules')}}" target="_blank">Rules</a>
                •
                <a href="{{url_for('boardRules', board=board)}}" target="_blank">Board Rules</a>
            </span>
        </footer>
        <script src="{{ url_for('static', filename='js/themes.js') }}"></script>
        <script src="{{ url_for('static', filename='js/posting.js') }}"></script>
        <!-- <script src="{{ url_for('static', filename='js/markdown.js') }}"></script> -->
    </body>
</html>