<html>
    <head>
        <title>{{data['siteName']}} - Boards</title>
        <meta charset="UTF-8">
        <link href="{{ url_for('static', filename='css/global.css') }}" type="text/css" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="../{{data['faviconUrl']}}"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    </head>
    <body class="{{currentTheme}}">
        <nav>
            <span id="navMain">
                <a href="{{ url_for('index') }}"><i class="fas fa-home text-icon"></i>Home</a>
                <a href="{{ url_for('help') }}"><i class="fas fa-question text-icon"></i>Help</a>
                <a href="settings"><i class="fas fa-cog text-icon"></i>Settings</a>
                <select onchange="changeTheme(this.value, {{themes}})" id="theme-select">
                    {% for theme in themes %}
                        <option id="{{themes[theme]['class']}}" value="{{themes[theme]['id']}}">{{themes[theme]['name']}}</option>
                    {% endfor %}
                </select>
            </span>
        </nav>
        <div id="boardsDiv" class="box alligned">
            <div id="board-list-header">
                <span id="board-label">Board</span><span class="boardManagement-label">Posts</span><span class="boardManagement-label">PPH</span><span class="boardManagement-label">Users</span>
            </div>
            <div id="boardContainer" class="settings-category">
                {% for board in sqlData %}
                    <div class="board-entry">
                        <a href="/{{board['uri']}}/">/{{board['uri']}}/ - {{board['name']}}</a>
                        
                        <span class="boardManagement-label">{{board['posts']}}</span>
                        <span class="boardManagement-label">{{board['PPH']}}</span>
                        <span class="boardManagement-label">{{board['users']}}</span>
                        <br>
                        <span>{{board['description']}}</span>
                    </div>
                {% endfor %}
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/themes.js') }}"></script>
    </body>
</html>