<!DOCTYPE html>
<html>
    <head>
        <title>{{data['siteName']}} - Help</title>
        <meta charset="UTF-8">
        <link href="{{ url_for('static', filename='css/global.css') }}" type="text/css" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/markdown.css') }}" type="text/css" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/help.css') }}" type="text/css" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="/{{data['faviconUrl']}}"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    </head>
    <body class="{{currentTheme}}">
        <nav>
            {% include 'nav.html' %}
        </nav>
        <div class="box" id="help-box">
            <h2 class="box-header center">Posting Help</h2>
            <div class="content">
                <h3>Posting:</h3>
                <h4>Tripcodes</h4>
                <p>Entering ## followed by a password will result in a hashed <a href="https://en.wikipedia.org/wiki/Imageboard#Tripcodes" target="_blank">tripcode</a> being added after your name.</p>
                <p>Example: <span class="name">Anonymous##example</span> → <span class="name">Anonymous##00fb39c28d</span></p>
                <h4>Role Signature</h4>
                <p>Entering ## followed by <i>rs</i> into the name field instead of a tripcode will result in your role being used</p>
                <p>Example: <span class="name">Anonymous##rs</span> → <span class="name">Anonymous##<span class="administrator">administrator</span></span></p>
                <hr>
                <h3>Text Markdown:</h3>
                <h4>Italics</h4>
                <p>[i]italicized text[/i] → <em>italicized text</em></p>
                <p>*italicized* → <em>italicized text</em></p>
                <h4>Bold Text</h4>
                <p>[b]bold text[/b] → <b>bold text</b></p>
                <p>**bold text** → <b>bold text</b></p>
                <h4>Underlined Text</h4>
                <p>[u]underlined text[/u] → <u>underlined text</u></p>
                <p>__underlined text__ → <u>underlined text</u></p>
                <h4>Strikethrough</h4>
                <p>[s]strikethrough[/s] → <s>strikethrough</s></p>
                <p>~~strikethrough~~ → <s>strikethrough</s></p>
                <h4>Spoiler</h4>
                <p>[spoiler]spoiler[/spoiler] → <span class="spoiler">spoiler</span></p>
                <p>||spoiler|| → <span class="spoiler">spoiler</span></p>
                <h4>Greentext</h4>
                <p>&gt;greentext → <span class="greentext">&gt;greentext</span></p>
                <h4>Pinktext</h4>
                <p>&lt;pinktext → <span class="pinktext">&lt;pinktext</span></p>
                <h4>Code</h4>
                <p>[code]code[/code] → <code>code</code></p>
                <h4>Rainbow Text</h4>
                <p>##rainbow text## → <span class="rainbow">rainbow text</span></p>
                <h4>Red Text</h4>
                <p>==red text== → <span class="redtext">red text</span></p>
                <h4>Detected Text</h4>
                <p>(((detected))) → <span class="detected">detected</span></p>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/themes.js') }}"></script>
    </body>
</html>