<div class="floating-menu" id="hidden-menu" style="display: none;">
    <div class="drag-header floating-menu-header">
        <label>Hidden Posts</label>
        <i class="fas fa-times text-icon text-icon-l close-menu" onclick='closeHidden()'></i>
        <div class="floating-menu-inner" id="hidden-menu-inner">
            {%for post in hidden%}
                {% set post = post.split('/') %}
                {%if post[0] == board%}
                    <div class="hidden-entry" id="hidden-{{[post][1]}}-{{[post][0]}}">
                        <span>No. {{post[1]}}</span>
                        <i class="fas fa-times text-icon-l remove-hidden text-icon" onclick="removeHidden({{post[1]}}, {{post[0]}})"></i>
                    </div>
                    <br>
                {%endif%}
            {%endfor%}
        </div>
    </div>
</div>