<html>
    <head>
        <title>{{data['siteName']}}</title>
        <meta charset="UTF-8">
        <link href="{{ url_for('static', filename='css/global.css') }}" type="text/css" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/index.css') }}" type="text/css" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="/{{data['faviconUrl']}}"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    </head>
    <body class="{{currentTheme}}">
        <nav>
            {% include 'nav.html' %}
        </nav>
        <div class="box center" id="logoBox">
            <h2 class="box-header">{{data['siteName']}}</h2>
            <img src="../{{data['logoUrl']}}" alt="Logo" id="logo">
        </div>
        <div class="box center" id="statisticsBox">
            <h2 class="box-header">Global Statistics</h2>
            <div id="statistics">
                <span>
                    Total Posts:
                    <span id="totalPostsLabel">{{total}}</span>
                </span>
                <span>/</span>
                <span>
                    Posts in the last hour:
                    <span id="lastHourLabel">{{lastHour}}</span>
                </span>
            </div>
        </div>
        <div class="box center" id="accountBox">
            <h2 class="box-header">Account</h2>
            {% if session['username']%}
                <span>Logged in as: {{session['username']}} [{{session['group'] | checkRole}}]</span><br>
                <span id="userOptions">  
                    <a href="{{ url_for('accountSettings') }}"><i class="fas fa-user text-icon"></i>Account</a>
                    {% if session['group'] | int<=1%}
                        <a href="{{ url_for('siteSettings') }}"><i class="fas fa-cog text-icon"></i>Global Settings</a>
                        <a href="{{ url_for('boardManagement') }}"><i class="fas fa-stream text-icon"></i>Board Management</a>
                    {% endif %}
                </span><br>
                <a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt text-icon"></i>Log Out</a>
            {% else %}
                <span>Not logged in</span><br>
                <a href="{{ url_for('login') }}"><i class="fas fa-user text-icon"></i>Log in</a> / <a href="{{ url_for('register') }}">Register</a>
            {% endif %}
        </div>
        {% if session['group'] is defined and session['group'] <= 2%}
            <div class="box center" id="moderation-box">
                <h2 class="box-header">Moderation</h2>
                <a href="/reports"><i class="fas fa-flag text-icon"></i>Reports</a>
                <a href="/latest"><i class="fas fa-list text-icon"></i>Latest Posts</a>
                <a href="{{url_for('logs')}}"><i class="fas fa-history text-icon"></i>Logs</a>
                <a href="/media"><i class="far fa-images text-icon"></i>Media Management</a>
                {% if session['group'] | int<=1%}
                    <a href="{{url_for('users')}}"><i class="fas fa-users-cog text-icon"></i>Users</a>
                {% endif %}
            </div>
        {% endif %}
        <script src="{{ url_for('static', filename='js/themes.js') }}"></script>
    </body>
</html>