<html>
    <head>
        <title>{{data['siteName']}}</title>
        <meta charset="UTF-8">
        <link href="../static/css/global.css" type="text/css" rel="stylesheet">
        <link href="../static/css/index.css" type="text/css" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="../{{data['faviconUrl']}}"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    </head>
    <body>
        <nav>
            <span id="navMain">
                <a href="{{ url_for('boards') }}"><i class="fas fa-stream text-icon"></i>Boards</a>
                <a href="{{ url_for('help') }}"><i class="fas fa-question text-icon"></i>Help</a>
                <a href="settings"><i class="fas fa-cog text-icon"></i>Settings</a>
            </span>
        </nav>
        <div class="box center" id="logoBox">
            <h2 class="box-header">{{data['siteName']}}</h2>
            <img src="../{{data['logoUrl']}}" alt="Logo" id="logo">
        </div>
        <div class="box center" id="statisticsBox">
            <h2 class="box-header">Global Statistics</h2>
            <div id="statistics">
                <span>
                    Total Posts:
                    <span id="totalPostsLabel">{{total}}</span>
                </span>
                <span>/</span>
                <span>
                    Posts in the last hour:
                    <span id="lastHourLabel">{{lastHour}}</span>
                </span>
            </div>
        </div>
        <div class="box center" id="accountBox">
            <h2 class="box-header">Account</h2>
            {% if session['username']%}
                <span>Logged in as: {{session['username']}} [{{session['group']}}]</span><br>
                <span id="userOptions">  
                    <a href="{{ url_for('accountSettings') }}"><i class="fas fa-user text-icon"></i>Account</a>
                    {% if session['group']=='administrator'%}
                        <a href="{{ url_for('siteSettings') }}"><i class="fas fa-cog text-icon"></i>Global Settings</a>
                        <a href="{{ url_for('boardManagement') }}"><i class="fas fa-stream text-icon"></i>Board Management</a>
                    {% endif %}
                </span><br>
                <a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt text-icon"></i>Log Out</a>
            {% else %}
                <span>Not logged in</span><br>
                <a href="login"><i class="fas fa-user text-icon"></i>Log in</a> / <a href="register">Register</a>

            {% endif %}     
        </div>
    </body>
</html>