<html>
    <head>
        <title>/{{board['uri']}}/ - Settings</title>
        <meta charset="UTF-8">
        <link href="{{ url_for('static', filename='css/global.css') }}" type="text/css" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="/{{data['faviconUrl']}}"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    </head>
    <body class="{{currentTheme}}">
        <nav>
            {% include 'nav.html' %}
        </nav>
        <div class="box alligned">
            <h2 class="box-header"><a href="/{{board['uri']}}/">/{{board['uri']}}/ - {{board['name']}}</a></h2>
            <hr>
            <h3 class="center">Board deletion</h3>
            <form class="center" action="{{url_for('deleteBoard', board=board['uri'])}}" method="POST">
                <label>
                    Confirm board deletion
                    <input type="checkbox" id="deleteBoard" name="deleteBoard" value="on">
                    <p><input class="btn btn-primary" type="submit" value="Delete /{{board['uri']}}/"></p>
                </label>
                <p class="small center">Deleting the board will also delete all of the posts made on the board</p>
                <div class="msg">{{msg}}</div>
            </form>
            <div class="settings-category">
                <form action="{{url_for('updateBoard', board=board['uri'])}}" method="POST">
                    <h3>Board Settings</h3>
                    <label>
                        Board Name:
                        <input type="text" name="name" value="{{board['name']}}" required autocomplete="off">
                    </label>
                    <label>
                        Board Description:
                        <input type="text" name="description" value="{{board['description']}}" required autocomplete="off">
                    </label>
                    <label>
                        Default Anonymous Name:
                        <input type="text" name="anonymous" value="{{board['anonymous']}}" required autocomplete="off">
                    </label>
                    <label>
                        Board Message:
                        <textarea type="textarea" name="message" wrap="soft" tabindex="4" style="width: 100%;">{{board['message']}}</textarea>
                    </label>
                    <label>
                        Captcha:
                        <select name="captcha">
                            {% if board['captcha'] == 1 %}
                                <option value="1" selected>on</option>
                                <option value="2">off</option>
                            {% else %}
                                <option value="1">on</option>
                                <option value="2" selected>off</option>
                            {% endif %}
                        </select>
                    </label>
                    <label> 
                        Threads per page:
                        <input type="number" step="1" name="perPage" id="boardPerPage" class="settings-input" value="{{board['perPage']}}" required autocomplete="off">
                    </label>
                    <p><input class="btn btn-primary" type="submit" value="Update /{{board['uri']}}/"></p>
                </form>
            </div>
            <hr>
            <form action="{{url_for('setOwner', board=board['uri'])}}" method="POST">
                <h3>Change Ownership</h3>
                <label>
                    Owner:
                    <input type="text" name="owner" id="owner-input" required autocomplete="off" value="{{board['owner']}}" placeholder="Username">
                </label>
                <input class="btn btn-primary" type="submit" value="Change ownership">
            </form>
        </div>
        <div class="box">
            <h2 class="box-header">Banners</h2>
            <div id="bannerManagement">
                <h4 class="center">Upload banners</h4>
                <form class="center" action="{{url_for('uploadBanner', board=board['uri'])}}" method="POST" enctype="multipart/form-data">
                    <input type="file" name="file" id="banner-file-select" required accept="image/*">
                    <input class="btn btn-primary" type="submit" value="Upload">
                </form>
            </div>
            <hr>
            <h4 class="center">Existing banners:</h4>
            <div id="banner-list">
            {% for banner in bannerData %}
                <hr>
                <div class="bannerEntry">
                    <span class="banner-options">
                        <p>Banner size: {{banner['filesize']}}B</p>
                        <form action="{{url_for('deleteBanner', board=board['uri'], name=banner['filename'])}}" method="POST">
                            <i class="fas fa-trash-alt text-icon"></i><input class="btn" type="submit" value="Delete">
                        </form>
                    </span>
                    <img src="/{{data['bannerLocation']}}/{{banner['board']}}/{{banner['filename']}}">
                </div>
            {% endfor %}
            </div>
        </div>
        <div class="box">
            <h2 class="box-header">Board Rules</h2>
            <div>
                <form action="{{url_for('addRule')}}" method="POST">
                    <input type="hidden" name="type" value="1">
                    <input type="hidden" name="board" value="{{board['uri']}}">
                    <input type="text" name="newRule" id="newRule" autocomplete="off">
                    <input class="btn btn-primary" type="submit" value="Add rule">
                </form>
                <ol type="1">
                    {%for rule in rules%}
                        <li>
                            <form action="{{url_for('deleteRule')}}" method="POST">
                                <input type="hidden" name="type" value="1">
                                <input type="hidden" name="board" value="{{board['uri']}}">
                                <input type="hidden" name="id" value="{{rule['id']}}">
                                <span>{{rule['content']}}</span>
                                <input class="btn btn-primary" type="submit" value="Delete rule">
                            </form>
                        </li>
                        <hr>
                    {%endfor%}
                </ol>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/themes.js') }}"></script>
    </body>
</html>