<html>
    <head>
        <title>{{user['username']}} - Manage</title>
        <meta charset="UTF-8">
        <link href="{{ url_for('static', filename='css/global.css') }}" type="text/css" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/index.css') }}" type="text/css" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="/{{data['faviconUrl']}}"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    </head>
    <body class="{{currentTheme}}">
        <nav>
            <span id="navMain">
                <a href="{{ url_for('index') }}"><i class="fas fa-home text-icon"></i>Home</a>
                <a href="{{ url_for('boards') }}"><i class="fas fa-stream text-icon"></i>Boards</a>
                <a href="{{ url_for('help') }}"><i class="fas fa-question text-icon"></i>Help</a>
                <a href="settings"><i class="fas fa-cog text-icon"></i>Settings</a>
                <select onchange="changeTheme(this.value, {{themes}})" id="theme-select">
                    {% for theme in themes %}
                        <option id="{{themes[theme]['class']}}" value="{{themes[theme]['id']}}">{{themes[theme]['name']}}</option>
                    {% endfor %}
                </select>
            </span>
        </nav>
        <div class="box box-settings">
            <h2 class="box-header">{{user['username']}}</h2>
            <div id="user-information" class="settings-category">
                {%if user['banned'] == 1%}
                <h3 class="banned-user bold">This user has been banned</h3>
                {%endif%}
                <h4>User Details</h4>
                <span>User ID: {{user['id']}}</span><br>
                <span>Permissions group: {{user['group']}} [{%for group in groups%}{%if group['id'] == user['group']%}{{group['name']}}{%endif%}{%endfor%}]</span><br>
                <span>Username: {{user['username']}}</span><br>
                {%if user['email'] == None%}
                    <span>Email: N/A</span><br>
                {%else%}
                    <span>Email: <a href="mailto:{{user['email']}}">{{user['email']}}</a></span><br>
                {%endif%}
                <span>Creation Date: {{user['date'] | ut}}</span><br>
                {%if user['ip'] == None%}
                    <span>Registration IP: N/A</span>
                {%else%}
                    <span>Registration IP: {{user['ip']}}</span>
                {%endif%}
            </div>
            <div id="update-user" class="settings-category">
                <h4>Change user details</h4>
                <form action="{{url_for('updateUser', user=user['username'])}}" method="POST">
                    <label> 
                        User group:
                        <select name="group" id="userRole">
                            {% for group in groups %}
                                <option value="{{group['id']}}"  {% if user['group'] == group['id'] %}selected{% endif %}>{{group['name']}}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <label>
                        Email:
                        <input type="text" name="email" id="emailInput" value="{{user['email']}}" required autocomplete="off">
                    </label>
                    <label> 
                        New password:
                        <input type="text" name="newPassword" id="newPasswordInput" autocomplete="off">
                    </label>
                    <label> 
                        Confirm password:
                        <input type="text" name="confirmPassword" id="confirmPasswordInput" autocomplete="off">
                    </label>
                    <p><input class="btn btn-primary" type="submit" value="Update"></p>
                </form>
            </div>
        </div>
    </body>
    <script src="{{ url_for('static', filename='js/themes.js') }}"></script>
</html>