<html>
    <head>
        <title>/{{sqlData['uri']}}/ - Settings</title>
        <meta charset="UTF-8">
        <link href="../static/css/global.css" type="text/css" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="../{{data['faviconUrl']}}"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    </head>
    <body>
        <nav>
            <span id="navMain">
                <a href="{{ url_for('index') }}"><i class="fas fa-home textIcon"></i>Home</a>
                <a href="{{ url_for('boards') }}"><i class="fas fa-stream textIcon"></i>Boards</a>
                <a href="{{ url_for('help') }}"><i class="fas fa-question textIcon"></i>Help</a>
                <a href="settings"><i class="fas fa-cog textIcon"></i>Settings</a>
            </span>
        </nav>
        <div class="box alligned">
            <h2 class="boxHeader">/{{sqlData['uri']}}/ - {{sqlData['name']}}</h2>
            <hr>
            <h3 class="center">Board deletion</h3>
            <form class="center" action="/deleteboard?uri={{sqlData['uri']}}" method="POST">
                <label>
                    Confirm board deletion
                    <input type="checkbox" id="deleteBoard" name="deleteBoard">
                    <p><input class="btn btn-primary" type="submit" value="Delete /{{sqlData['uri']}}/"></p>
                </label>
                <p class="small center">Deleting the board will also delete all of the posts made on the board</p>
                <div class="msg">{{msg}}</div>
            </form>
            <div class="settingsCategory">
                <form action="/updateBoard?uri={{sqlData['uri']}}" method="POST">
                    <h3>Board Settings</h3>
                    <label>
                        Board Name:
                        <input type="text" name="name" value="{{sqlData['name']}}" required autocomplete="off">
                    </label>
                    <label>
                        Board Description:
                        <input type="text" name="description" value="{{sqlData['description']}}" required autocomplete="off">
                    </label>
                    <label>
                        Default Anonymous Name:
                        <input type="text" name="anonymous" value="{{sqlData['anonymous']}}" required autocomplete="off">
                    </label>
                    <label>
                        Board Message:
                        <textarea type="textarea" name="message" required wrap="soft" tabindex="4" style="width: 100%">{{sqlData['message']}}</textarea>
                    </label>
                    <label>
                        Captcha:
                        <select name="captcha">
                            {% if sqlData['captcha'] == 1 %}
                                <option value="1" selected>on</option>
                                <option value="2">off</option>
                            {% else %}
                                <option value="1">on</option>
                                <option value="2" selected>off</option>
                            {% endif %}
                        </select>
                    </label>
                    <p><input class="btn btn-primary" type="submit" value="Update /{{sqlData['uri']}}/"></p>
                </form>
            </div>
            <hr>
            <div id="bannerManagement">
                <h3 class="center">Banners</h3>
                <h4 class="center">Upload banners</h4>
                <div id="drop-area">
                    <form class="my-form">
                        <input type="file" id="fileElem" multiple accept="image/*" onchange="handleFiles(this.files)">
                        <label class="button center" for="fileElem">Drag or select files</label>
                    </form>
                  </div>
            </div>
            <hr>
            <h4 class="center">Existing banners:</h4>
            <div id="bannerList">
            {% for banner in bannerData %}
                <hr>
                <div class="bannerEntry">
                    <span class="bannerOptions">
                        <p>Banner size: {{banner['filesize']}}B</p>
                        <form action="/deletebanner?uri={{sqlData['uri']}}&name={{banner['filename']}}" method="POST">
                            <i class="fas fa-trash-alt textIcon"></i><input type="submit" value="Delete">
                        </form>
                    </span>
                    <img src="../{{data['bannerLocation']}}/{{banner['board']}}/{{banner['filename']}}">
                </div>
            {% endfor %}
            </div>
        </div>
        <script>
            let dropArea = document.getElementById('drop-area')
            ;['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
            dropArea.addEventListener(eventName, preventDefaults, false)
            })

            function preventDefaults (e) {
            e.preventDefault()
            e.stopPropagation()
            }
            ;['dragenter', 'dragover'].forEach(eventName => {
            dropArea.addEventListener(eventName, highlight, false)
            })

            ;['dragleave', 'drop'].forEach(eventName => {
            dropArea.addEventListener(eventName, unhighlight, false)
            })

            function highlight(e) {
            dropArea.classList.add('highlight')
            }

            function unhighlight(e) {
            dropArea.classList.remove('highlight')
            }
            dropArea.addEventListener('drop', handleDrop, false)

            function handleDrop(e) {
            let dt = e.dataTransfer
            let files = dt.files

            handleFiles(files)
            }
            function handleFiles(files) {
            ([...files]).forEach(uploadFile)
            }
            function uploadFile(file) {
            var url = "uploadbanner?uri={{sqlData['uri']}}"
            let formData = new FormData()

            formData.append('file', file)
            console.log(file)

            fetch(url, {
                method: 'POST',
                body: formData
                
            })
            .then(() => {
                console.log("Success!")   
            })
            .catch(() => {console.log("The opposite of success")})
            }
        </script>
    </body>
</html>