<html>
    <head>
        <title>/{{sqlData['uri']}}/ - Settings</title>
        <meta charset="UTF-8">
        <link href="../static/css/global.css" type="text/css" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="../{{data['faviconUrl']}}"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    </head>
    <body>
        <nav>
            <span id="navMain">
                <a href="{{ url_for('index') }}"><i class="fas fa-home textIcon"></i>Home</a>
                <a href="{{ url_for('boards') }}"><i class="fas fa-stream textIcon"></i>Boards</a>
                <a href="{{ url_for('help') }}"><i class="fas fa-question textIcon"></i>Help</a>
                <a href="settings"><i class="fas fa-cog textIcon"></i>Settings</a>
            </span>
        </nav>
        <div class="box alligned">
            <h2 class="boxHeader">/{{sqlData['uri']}}/ - {{sqlData['name']}}</h2>
        </div>
    </body>
</html>