<!DOCTYPE html>
<html>
    <head>
        <title>{{data['siteName']}} - {{board}} Rules</title>
        <meta charset="UTF-8">
        <link href="{{ url_for('static', filename='css/global.css') }}" type="text/css" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/markdown.css') }}" type="text/css" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/help.css') }}" type="text/css" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="/{{data['faviconUrl']}}"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    </head>
    <body class="{{currentTheme}}">
        <nav>
            {% include 'nav.html' %}
        </nav>
        <div class="view-content" id="rules">
            <div class="box box-readable" id="">
                <h2 class="box-header center">{{board}} Rules</h2>
                <ol class="rule-list" type="1">
                    {%for rule in rules%}
                        <li>{{rule['content']}}</li>
                    {%endfor%}
                </ol>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/themes.js') }}"></script>
    </body>
</html>