<!DOCTYPE html>
<html>
    <head>
        <title>{{data['siteName']}} - FAQ</title>
        <meta charset="UTF-8">
        <link href="{{ url_for('static', filename='css/global.css') }}" type="text/css" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/markdown.css') }}" type="text/css" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/help.css') }}" type="text/css" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="/{{data['faviconUrl']}}"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    </head>
    <body class="{{currentTheme}}">
        <nav>
            <span id="navMain">
                <a href="{{ url_for('index') }}"><i class="fas fa-home text-icon"></i>Home</a>
                <a href="{{ url_for('boards') }}"><i class="fas fa-stream text-icon"></i>Boards</a>
                <a href="{{ url_for('help') }}"><i class="fas fa-question text-icon"></i>Help</a>
                <a href="settings"><i class="fas fa-cog text-icon"></i>Settings</a>
                <select onchange="changeTheme(this.value, {{themes}})" id="theme-select">
                    {% for theme in themes %}
                        <option id="{{themes[theme]['class']}}" value="{{themes[theme]['id']}}">{{themes[theme]['name']}}</option>
                    {% endfor %}
                </select>
            </span>
        </nav>
        <div class="view-content" id="rules">
            <div class="box box-readable" id="">
                <h2 class="box-header center">{{board}} Rules</h2>
                <ol type="1">
                    {%for rule in rules%}
                        <li>{{rule['content']}}</li>   
                    {%endfor%}
                </ol>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/themes.js') }}"></script>
    </body>
</html>