<html>
    <head>
        <title>Server Settings</title>
        <meta charset="UTF-8">
        <link href="{{ url_for('static', filename='css/global.css') }}" type="text/css" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="/{{data['faviconUrl']}}"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    </head>
    <body class="{{currentTheme}}">
        <nav>
            {% include 'nav.html' %}
        </nav>
        <div class="box box-settings">
            <h2 class="box-header">{{data['siteName']}} Global Settings</h2>
            <div id="serverSettings" class="settings-category">
                <form action="/saveSettings" method="POST">
                    <h3>Server Settings</h3>
                    <hr>
                    <label>
                        Server Port:
                        <input type="number" step="1" name="port" id="serverPortInput" value="{{data['port']}}" required autocomplete="off"> <span class="small">Server must be restarted</span>
                    </label>
                    <label>
                        Media Location:
                        <input type="text" name="mediaLocation" id="serverMediaLocationInput" value="{{data['mediaLocation']}}" required autocomplete="off"> 
                    </label>
                    <hr>
                    <h3>Site Settings</h3>
                    <hr>
                    <label>
                        Site Name:
                        <input type="text" name="siteName" id="siteNameInput" value="{{data['siteName']}}" required autocomplete="off">
                    </label>
                    <label>
                        Logo:
                        <input type="text" name="logoUrl" id="siteLogoInput" value="{{data['logoUrl']}}" required autocomplete="off">
                    </label>
                    <label>
                        Favicon:
                        <input type="text" name="faviconUrl" id="siteFaviconInput" value="{{data['faviconUrl']}}" required autocomplete="off"> <span class="small">Must be in PNG format</span>
                    </label>
                    <label>
                        Spoiler Image:
                        <input type="text" name="spoilerImage" id="mimeFileInput" value="{{data['spoilerImage']}}" required autocomplete="off"> <span class="small"></span>
                    </label>
                    <label>
                        Banner Location:
                        <input type="text" name="bannerLocation" id="bannerLocationInput" value="{{data['bannerLocation']}}" required autocomplete="off"> <span class="small">This decides where uploaded banners will be kept</span>
                    </label>
                    <label>
                        Minimum permission level for board creation:
                        <select name="requiredRole" id="requiredRole">
                            {% for group in groups %}
                                <option value="{{group['id']}}"  {% if data['requiredRole'] == group['id'] | string %}selected{% endif %}>{{group['name']}}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <label>
                        Minimum permission level to see cleartext IPs:
                        <select name="cleartextIp" id="cleartextIp">
                            {% for group in groups %}
                                <option value="{{group['id']}}"  {% if data['cleartextIp'] == group['id'] | string %}selected{% endif %}>{{group['name']}}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <label>
                        Allow registrations:
                        <select name="enableRegistration" id="enableRegistration">
                            {% if data['enableRegistration'] == 'on' %}
                                <option value="on" selected>on</option>
                                <option value="off">off</option>
                            {% else %}
                                <option value="on">on</option>
                                <option value="off" selected>off</option>
                            {% endif %}
                        </select>
                    </label>
                    <label>
                        Allowed MIME types:
                        <input type="text" name="mimeTypes" id="mimeTypeInput" value="{{data['mimeTypes']}}" required autocomplete="off"> <span class="small">Separate with ,</span>
                    </label>
                    <label>
                        Maximum files:
                        <input type="number" step="1" name="maxFiles" id="mimeFileInput" value="{{data['maxFiles']}}" required autocomplete="off">
                    </label>
                    <label>
                        Tripcode Length:
                        <input type="number" step="1" name="tripLength" id="tripLength" value="{{data['tripLength']}}" required autocomplete="off"> <span class="small">Longer tripcodes take more time to bruteforce</span>
                    </label>
                    <label>
                        Max number of threads per page:
                        <input type="number" step="1" name="pageThreads" id="pageThreads" value="{{data['pageThreads']}}" required autocomplete="off"> <span class="small">This sets how many threads to display on a board before creating a new page</span>
                    </label>
                    <label>
                        Thumbnail size:
                        <input type="number" step="1" name="thumbnailX" id="s-thumbnail-X" value="{{data['thumbnailX']}}" required autocomplete="off">x<input type="number" step="1" name="thumbnailY" id="s-thumbnail-Y" value="{{data['thumbnailY']}}" required autocomplete="off">
                        <span class="small">Sizes in px</span>
                    </label>
                    <h4>captcha</h4>
                    <label>
                        Captcha difficulty:
                        <input type="number" step="1" name="captchaDifficulty" id="captchaDifficulty" value="{{data['captchaDifficulty']}}" required autocomplete="off"> <span class="small">Sets the length of the captcha (must be a number)</span>
                    </label>
                    <label>
                        Captcha expire time (minutes):
                        <input type="number" step="1" name="captchaExpire" id="captchaExpire" value="{{data['captchaExpire']}}" required autocomplete="off"> <span class="small">How long the captcha is active before a new one is generated</span>
                    </label>
                    <p><input class="btn btn-primary" type="submit" value="save settings"></p>
                </form>
            </div>
        </div>
        <div class="box box-settings">
            <h2 class="box-header">Global Rules</h2>
            <div>
                <form action="{{url_for('addRule')}}" method="POST">
                    <input type="hidden" name="type" value="0">
                    <input type="hidden" name="board" value="NULL">
                    <input type="text" name="newRule" id="newRule" autocomplete="off">
                    <input class="btn btn-primary" type="submit" value="Add rule">
                </form>
                <ol type="1">
                    {%for rule in rules%}
                        <li>
                            <form action="{{url_for('deleteRule')}}" method="POST">
                                <input type="hidden" name="type" value="0">
                                <input type="hidden" name="board" value="NULL">
                                <input type="hidden" name="id" value="{{rule['id']}}">
                                <span>{{rule['content']}}</span>
                                <input class="btn btn-primary" type="submit" value="Delete rule">
                            </form>
                        </li>
                        <hr>
                    {%endfor%}
                </ol>
            </div>
        </div>
        <div class="box box-settings">
            <h2 class="box-header">Logging options</h2>
            <div id="log-settings" class="settings-category">
                <form action="{{url_for('saveLogSettings')}}" method="POST">
                    <label>
                        Log logins:
                        <input type="checkbox" name="log-logins" id="log-logins" {%if logData['log-logins'] == 'on'%}checked{%endif%} value="on">
                        <input type="hidden" name="log-logins" value="off"/>
                    </label>
                    <label>
                        Log registrations:
                        <input type="checkbox" name="log-register" id="log-register" {%if logData['log-register'] == 'on'%}checked{%endif%} value="on">
                        <input type="hidden" name="log-register" value="off"/>
                    </label>
                    <label>
                        Log logouts:
                        <input type="checkbox" name="log-logout" id="log-logout" {%if logData['log-logout'] == 'on'%}checked{%endif%} value="on">
                        <input type="hidden" name="log-logout" value="off"/>
                    </label>
                    <hr>
                    <label>
                        Log global settings change:
                        <input type="checkbox" name="log-global-settings" id="log-global-settings" {%if logData['log-global-settings'] == 'on'%}checked{%endif%} value="on">
                        <input type="hidden" name="log-global-settings" value="off"/>
                    </label>
                    <label>
                        Log logging settings change:
                        <input type="checkbox" name="log-log-settings" id="log-log-settings" {%if logData['log-log-settings'] == 'on'%}checked{%endif%} value="on">
                        <input type="hidden" name="log-log-settings" value="off"/>
                    </label>
                    <hr>
                    <label>
                        Log rule additions/deletions:
                        <input type="checkbox" name="log-rules" id="log-rules" {%if logData['log-rules'] == 'on'%}checked{%endif%} value="on">
                        <input type="hidden" name="log-rules" value="off"/>
                    </label>
                    <hr>
                    <label>
                        Log user self password change:
                        <input type="checkbox" name="log-self-password-change" id="log-self-password-change" {%if logData['log-self-password-change'] == 'on'%}checked{%endif%} value="on">
                        <input type="hidden" name="log-self-password-change" value="off"/>
                    </label>
                    <label>
                        Log user self email change:
                        <input type="checkbox" name="log-self-email-change" id="log-self-email-change" {%if logData['log-self-password-change'] == 'on'%}checked{%endif%} value="on">
                        <input type="hidden" name="log-self-email-change" value="off"/>
                    </label>
                    <hr>
                    <label>
                        Log board creation:
                        <input type="checkbox" name="log-board-creation" id="log-board-creation" {%if logData['log-board-creation'] == 'on'%}checked{%endif%} value="on">
                        <input type="hidden" name="log-board-creation" value="off"/>
                    </label>
                    <label>
                        Log board deletion:
                        <input type="checkbox" name="log-board-deletion" id="log-board-deletion"{%if logData['log-board-deletion'] == 'on'%}checked{%endif%} value="on">
                        <input type="hidden" name="log-board-deletion" value="off"/>
                    </label>
                    <label>
                        Log board update:
                        <input type="checkbox" name="log-board-update" id="log-board-update" {%if logData['log-board-update'] == 'on'%}checked{%endif%} value="on">
                        <input type="hidden" name="log-board-update" value="off"/>
                    </label>
                    <label>
                        Log board ownership change:
                        <input type="checkbox" name="log-board-ownerchange" id="log-board-ownerchange" {%if logData['log-board-ownerchange'] == 'on'%}checked{%endif%} value="on">
                        <input type="hidden" name="log-board-ownerchange" value="off"/>
                    </label>
                    <label>
                        Log banner uploads/deletions:
                        <input type="checkbox" name="log-banners" id="log-banners" {%if logData['log-banners'] == 'on'%}checked{%endif%} value="on">
                        <input type="hidden" name="log-banners" value="off"/>
                    </label>
                    <hr>
                    <label>
                        Log thread creation:
                        <input type="checkbox" name="log-thread-creation" id="log-thread-creation" {%if logData['log-thread-creation'] == 'on'%}checked{%endif%} value="on">
                        <input type="hidden" name="log-thread-creation" value="off"/>
                    </label>
                    <label>
                        Log replies to thread:
                        <input type="checkbox" name="log-reply" id="log-reply" {%if logData['log-reply'] == 'on'%}checked{%endif%} value="on">
                        <input type="hidden" name="log-reply" value="off"/>
                    </label>
                    <label>
                        Log post deletion:
                        <input type="checkbox" name="log-post-delete" id="log-post-delete" {%if logData['log-post-delete'] == 'on'%}checked{%endif%} value="on">
                        <input type="hidden" name="log-post-delete" value="off"/>
                    </label>
                    <label>
                        Log media spoil/unspoil:
                        <input type="checkbox" name="log-media-spoil" id="log-media-spoil" {%if logData['log-media-spoil'] == 'on'%}checked{%endif%} value="on">
                        <input type="hidden" name="log-media-spoil" value="off"/>
                    </label>
                    <label>
                        Log media deletion:
                        <input type="checkbox" name="log-media-delete" id="log-media-delete" {%if logData['log-media-delete'] == 'on'%}checked{%endif%} value="on">
                        <input type="hidden" name="log-media-delete" value="off"/>
                    </label>
                    <label>
                        Log hash bans:
                        <input type="checkbox" name="log-hash-ban" id="log-hash-ban" {%if logData['log-hash-ban'] == 'on'%}checked{%endif%} value="on">
                        <input type="hidden" name="log-hash-ban" value="off"/>
                    </label>
                    <hr>
                    <label>
                        Log moderator updating user data:
                        <input type="checkbox" name="log-mod-user-update" id="log-mod-user-update" {%if logData['log-mod-user-update'] == 'on'%}checked{%endif%} value="on">
                        <input type="hidden" name="log-mod-user-update" value="off"/>
                    </label>
                    <label>
                        Log moderator deleting user:
                        <input type="checkbox" name="log-mod-user-delete" id="log-mod-user-delete" {%if logData['log-mod-user-delete'] == 'on'%}checked{%endif%} value="on">
                        <input type="hidden" name="log-mod-user-delete" value="off"/>
                    </label>
                    <label>
                        Log moderator creating user:
                        <input type="checkbox" name="log-mod-user-create" id="log-mod-user-create" {%if logData['log-mod-user-create'] == 'on'%}checked{%endif%} value="on">
                        <input type="hidden" name="log-mod-user-create" value="off"/>
                    </label>
                    <hr>
                    <label>
                        Log user bans:
                        <input type="checkbox" name="log-user-ban" id="log-user-ban" {%if logData['log-user-ban'] == 'on'%}checked{%endif%} value="on">
                        <input type="hidden" name="log-user-ban" value="off"/>
                    </label>
                    <label>
                        Log user unban:
                        <input type="checkbox" name="log-user-unban" id="log-user-unban" {%if logData['log-user-unban'] == 'on'%}checked{%endif%} value="on">
                        <input type="hidden" name="log-user-unban" value="off"/>
                    </label>
                    <p><input class="btn btn-primary" type="submit" value="save settings"></p>
                </form>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/themes.js') }}"></script>
    </body>
</html>