<!DOCTYPE html>
<html>
    <head>
        <title>/{{board}}/ - {{thread['message']}}</title>
        <meta charset="UTF-8">
        <link href="../../static/css/global.css" type="text/css" rel="stylesheet">
        <link href="../../static/css/board.css" type="text/css" rel="stylesheet">
        <link href="../../static/css/thread.css" type="text/css" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="../../{{data['faviconUrl']}}"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    </head>
    <body>
        <nav>
            <span id="navMain">
                <a href="{{ url_for('index') }}"><i class="fas fa-home textIcon"></i>Home</a>
                <a href="{{ url_for('boards') }}"><i class="fas fa-stream textIcon"></i>Boards</a>
                <a href="{{ url_for('help') }}"><i class="fas fa-question textIcon"></i>Help</a>
                <a href="settings"><i class="fas fa-cog textIcon"></i>Settings</a>
            </span>
        </nav>
        <div id="boardInfo">
            <img src="../../{{banner}}" id="banner" alt="banner">
            <h1 class="center" id="boardName">/{{board}}/ - {{boardData['name']}}</h1>
            <h4 class="center">{{boardData['description']}}</h4>
        </div>
        <div id="authorContainer">  
            <span class="small">Reply mode</span>
            <form action="/reply" method="POST" id="authorForm" enctype="multipart/form-data">
                <input type="hidden" name="board" value="{{board}}">
                <table>
                    <tbody>
                        <tr>
                            <td class="authorLabel">Name</td>
                            <td><input class="authorInput" type="text" tabindex="1" name="name" autocomplete="off" placeholder="{{boardData['anonymous']}}"></td>
                        </tr>
                        <tr>
                            <td class="authorLabel">Options</td>
                            <td><input class="authorInput" tabindex="2" type="text" name="options" autocomplete="off"></td>
                        </tr>
                        <tr>
                            <td class="authorLabel">Subject</td>
                            <td><input class="authorInput" tabindex="3" type="text" name="subject" autocomplete="off"><input id="postButton" type="submit" value="Post" tabindex="6"></td>
                        </tr>
                        <tr>
                            <td class="authorLabel">Comment</td>
                            <td><textarea class="authorInput" name="comment" cols="48" rows="4" wrap="soft" tabindex="4" style="width: 292px;" required></textarea></td>
                        </tr>
                        {% if boardData['captcha'] == 1 %}
                            <tr>
                                <td class="authorLabel">Verification</td>
                                <td style="display: grid;"><img src="../../{{captcha}}" tabindex="5" class="captcha"><input class="authorInput" tabindex="6" type="text" name="captcha" autocomplete="off" required></td>
                                
                            </tr>
                        {% endif %}
                        <tr>
                            <td class="authorLabel">File</td>
                            <td>
                                <input id="fileInput" name="file" type="file" multiple tabindex="7" accept="{{data['mimeTypes']}}">
                                <span id="spoiler">[<label><input type="checkbox" name="spoiler" value="on" tabindex="8">Spoiler?</label>]</span>
                            </td>
                        </tr>
                        <tr id="rules">
                            <td colspan="2">
                                <ul id="rules">
                                    <li class="small">Please read the <a href="rules">Board Rules</a> and <a href="../../globalRules">Global Rules</a> before posting.</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <div id="boardMessage">
            <hr>
            <span>{{boardData['message']}}</span>
            <hr>
        </div>
        <div id="postList">
            <div class="op" id="{{thread['number']}}">
                <hr>
                {%set files = thread['files'].split(',')%}
                {%set filenames = thread['filenames'].split(',')%}
                {%if files | length > 1%}
                    <div class="uploads multipleFiles">
                {%else%}
                    <div class="uploads ">
                {%endif%}
                {%for file in files%}
                        <div class="fileDiv">
                            <div class="fileInfo">
                                <a class="filename" href="../../{{file}}" target="_blank">{{filenames[files.index(file)]}}</a>
                                <a href="../../{{file}}" download="{{filenames[files.index(file)]}}"><i class="fas fa-download textIcon"></i></a>
                                {%if file | checkimage == True%}
                                    <span class="fileSize textIcon">({{file | filesize}}, {{file | dimensions}})</span>
                                {%else%}
                                    <span class="fileSize textIcon">({{file | filesize}})</span>
                                {%endif%}
                            </div>
                            <a class="linkImg" target="_blank" href="../../{{file}}">
                                <img loading="lazy" class="thumbnail" src="../../{{ ((file| splittext)[:-1] | join('.')) }}s.{{ ((file| splittext)[3])}}">
                            </a>
                        </div>
                {%endfor%}
                </div>
                <div class="postInfo">
                    <span class="subject">{{thread['subject']}}</span>
                    <span class="name">{{thread['name']}}</span>
                    <span>{{thread['date'] | ut}}</span>
                    <span><a class="postNumber" href="#{{thread['number']}}">No.</a><a class="postNumber">{{thread['number']}}</a></span>
                    <span>[<a class="reply">Reply</a>]</span>
                </div>
                <blockquote class="comment">{{thread['message']}}</blockquote>
            </div>
        </div>
    </body>
</html>