<html>
    <head>
        <title>{{data['siteName']}} - Users</title>
        <meta charset="UTF-8">
        <link href="{{ url_for('static', filename='css/global.css') }}" type="text/css" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="/{{data['faviconUrl']}}"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    </head>
    <body class="{{currentTheme}}">
        <nav>
            {% include 'nav.html' %}
        </nav>
        <div class="box box-settings" id="box-user-list">
            <h2 class="box-header">User Management</h2>
            {% for user in users %}
                <div class="manage-user">
                    <a href="{{ url_for('manageUser', user=user['username']) }}" class='manage-link'><i class="fas fa-cog"></i></a>
                    {%if user['banned'] == 1%}
                        <span title="{{user['username']}} is banned">{{user['id']}}. <span class="banned-user">{{user['username']}}</span></span>
                    {%else%}
                        <span>{{user['id']}}. {{user['username']}}</span>
                    {%endif%}
                    [<span class="{{groups[user['group']|int]['name']}}">{{groups[user['group']|int]['name']}}</span>]
                    <span class="user-owned-boards">
                        Owned boards: 
                        {%for board in boards%}
                            {%if board['owner'] == user['username']%}
                                <a href="/{{board['uri']}}/">/{{board['uri']}}/</a>
                            {%endif%}
                        {%endfor%}
                    </span>
                </div>
            {%endfor%}
        </div>
        <div class="box box-settings" id="box-create-user">
            <h2 class="box-header">Create User</h2>
            <div class="settings-category">
                <form action="{{url_for("createUser")}}" method="POST">
                    <label>
                        Username:
                        <input type="text" name="username" id="username-input" required autocomplete="off" pattern="^[a-zA-Z0-9_.-]*$">
                    </label>
                    <label>
                        Password:
                        <input type="password" name="password" id="password-input" required autocomplete="off">
                    </label>
                    <label>
                        Confirm password:
                        <input type="password" name="confirm-password" id="confirm-password-input" required autocomplete="off">
                    </label>
                    <label> 
                        User group:
                        <select name="group" id="userRole">
                            {% for group in aGroups %}
                                <option value="{{group['id']}}">{{group['name']}}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <label>
                        email (optional):
                        <input type="email" name="email" id="email-input" autocomplete="off">
                    </label>
                    <p><input class="btn btn-primary" type="submit" value="Create"></p>
                </form>
            </div>
        </div>
    </body>
    <script src="{{ url_for('static', filename='js/themes.js') }}"></script>
</html>