<html>
    <head>
        <title>{{data['siteName']}} - Users</title>
        <meta charset="UTF-8">
        <link href="{{ url_for('static', filename='css/global.css') }}" type="text/css" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/index.css') }}" type="text/css" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="/{{data['faviconUrl']}}"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    </head>
    <body class="{{currentTheme}}">
        <nav>
            <span id="navMain">
                <a href="{{ url_for('index') }}"><i class="fas fa-home text-icon"></i>Home</a>
                <a href="{{ url_for('boards') }}"><i class="fas fa-stream text-icon"></i>Boards</a>
                <a href="{{ url_for('help') }}"><i class="fas fa-question text-icon"></i>Help</a>
                <a href="settings"><i class="fas fa-cog text-icon"></i>Settings</a>
                <select onchange="changeTheme(this.value, {{themes}})" id="theme-select">
                    {% for theme in themes %}
                        <option id="{{themes[theme]['class']}}" value="{{themes[theme]['id']}}">{{themes[theme]['name']}}</option>
                    {% endfor %}
                </select>
            </span>
        </nav>
        <div class="box box-settings" id="box-user-list">
            <h2 class="box-header">User Management</h2>
            {% for user in users %}
                <div class="manage-user">
                    <a href="{{ url_for('manageUser', user=user['username']) }}" class='manage-link'><i class="fas fa-cog"></i></a>
                    <span>{{user['id']}}. {{user['username']}}</span>
                    [<span class="{{groups[user['group']|int]['name']}}">{{groups[user['group']|int]['name']}}</span>]
                    <span class="user-owned-boards">
                        Owned boards: 
                        {%for board in boards%}
                            {%if board['owner'] == user['username']%}
                                <a href="/{{board['uri']}}/">/{{board['uri']}}/</a>
                            {%endif%}
                        {%endfor%}
                    </span>
                </div>
            {%endfor%}
        </div>
    </body>
    <script src="{{ url_for('static', filename='js/themes.js') }}"></script>
</html>